@using MagicCardsHub.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/reset-css.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

</head>
<body data-base="" data-theme="dark">
    <header>
        <div class="wrapper">
            <div class="w-100 ae-header sticky-menu-mobile-navbar d-print-none">
                <div class="ae-menu-left-decor">
                    <picture>
                        <source srcset="/images/navigation/menu_side.svg" media="(min-width: 768px)">
                        <img src="/images/navigation/menu_side_mobile.svg">
                    </picture>
                </div>
                <div class="ae-menu-right-decor">
                    <picture>
                        <source srcset="/images/navigation/menu_side.svg" media="(min-width: 768px)">
                        <img src="/images/navigation/menu_side_mobile.svg">
                    </picture>
                </div>
                <div class="ae-menu-center">
                    <div class="ae-menu-center">
                        <div class="ae-menu">
                            <div class="ae-menu-logo">
                                <a class="d-none d-xl-block" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="/images/navigation/Section.gif" class="ae-header-logo" alt="AetherHub" width="200" height="44">
                                </a>
                                <div class="d-block d-lg-none ml-2 mr-1">
                                    <a id="sidebarCollapse" class="" aria-label="Menu"><i class="fas fa-bars"></i></a>
                                </div>
                            </div>
                            <div class="ae-menu-wrapper d-none d-lg-flex">
                                <ul class="d-flex justify-content-start">
                                    <li>
                                        <div class="ae-nav-dropdown">
                                            <button type="button" class="ae-nav-dropdown-btn pl-1 pr-1 text-nowrap ae-nav-dropdown-lazy"><b>Home</b></button>
                                            <div class="ae-nav-dropdown-menu">

                                                <div class="ae-nav-dropdown-menu-wrapper">
                                                    <div class="">
                                                        <div class="ae-list-header">
                                                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                                            <a href="/Account/Register">My Art</a>
                                                            <a href="/Decks/Writeups/">My Decks</a>
                                                            <a href="/Decks/Video/">My Orders</a>
                                                            <hr>
                                                            <a href="/Deck/Builder/">Deck Builder</a>
                                                            <a href="/Deck/MyDecks/">Favorites</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ae-nav-dropdown">
                                            <button type="button" class="ae-nav-dropdown-btn pl-1 pr-1 text-nowrap ae-nav-dropdown-lazy"><b>Magic Cards</b></button>
                                            <div class="ae-nav-dropdown-menu">

                                                <div class="ae-nav-dropdown-menu-wrapper">
                                                    <div class="">
                                                        <div class="ae-list-header">
                                                            <a href="/Account/Register">Add Art</a>
                                                            <a href="/Decks/Writeups/">Current Project</a>
                                                            <a href="/Decks/Video/">Become Artist</a>
                                                            <hr>
                                                            <a href="/Deck/Builder/">Card Builder</a>
                                                            <a class="nav-link text-dark" asp-area="" asp-controller="Article" asp-action="Create">Create Article</a>
                                                            <a href="/Deck/MyDecks/">My Requests</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ae-nav-dropdown">
                                            <button type="button" class="ae-nav-dropdown-btn pl-1 pr-1 text-nowrap ae-nav-dropdown-lazy"><b>Decks</b></button>
                                            <div class="ae-nav-dropdown-menu">

                                                <div class="ae-nav-dropdown-menu-wrapper">
                                                    <div class="">
                                                        <div class="ae-list-header">
                                                            <a href="/Account/Register">All Cards</a>
                                                            <a href="/Decks/Video/">All Decks</a>
                                                            <a href="/Decks/Writeups/">All Art</a>
                                                            <a href="/Decks/Video/">All Artists</a>
                                                            <hr>
                                                            <a href="/Deck/Builder/">Order Deck</a>
                                                            <a href="/Deck/Builder/">Order Art</a>
                                                            <a href="/Deck/Builder/">Order Card</a>
                                                            <hr>
                                                            <a href="/Deck/Builder/">Stores</a>
                                                            <a href="/Deck/MyDecks/">Tournaments</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ae-nav-dropdown">
                                            <button type="button" class="ae-nav-dropdown-btn pl-1 pr-1 text-nowrap ae-nav-dropdown-lazy"><b>Partner Program</b></button>
                                            <div class="ae-nav-dropdown-menu">

                                                <div class="ae-nav-dropdown-menu-wrapper">
                                                    <div class="">
                                                        <div class="ae-list-header">
                                                            <a href="/Account/Register">Become Artist</a>
                                                            <a href="/Account/Register">Become Content Creator</a>
                                                            <a href="/Decks/Writeups/">Create Tournament</a>
                                                            <a href="/Decks/Video/">Add Store</a>
                                                            <hr>
                                                            <a href="/Deck/Builder/">My Store </a>
                                                            <a href="/Deck/MyDecks/">My Tournament</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="ae-icons d-flex justify-content-start">
                                <div class="mr-2">
                                    <ul class="nav">
                                        <li class="nav-item dropdown">
                                            <a class="" data-toggle="modal" data-target="#siteSearchModal">
                                                <i class="fas fa-search"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="mr-2">
                                    <ul class="nav">
                                        <li class="nav-item dropdown">
                                            <a class="" data-toggle="dropdown">
                                                <i class="far fa-star"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="/Premium"><b>Premium</b></a>
                                                <a class="dropdown-item" href="/ContentCreators"><b>Content Creators</b></a>
                                                <a class="dropdown-item" href="/Team"><b>Team</b></a>

                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="mr-1">
                                    <ul class="nav">
                                        <li class="nav-item dropdown">
                                            <a id="login-button" class="" data-toggle="dropdown" aria-label="Login">
                                                <i class="fas fa-user"></i>
                                            </a>
                                            @if (!this.User.Identity.IsAuthenticated)
                                            {
                                                <div id="login-dp" class="dropdown-menu dropdown-menu-right">
                                                    <div class="bottom text-center mt-2">
                                                        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                                    </div>
                                                    <div class="bottom text-center mt-2">
                                                        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-155px, 22px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                    <a class="dropdown-item" href="/Manage/EditProfile"><i class="fas fa-edit fa-fw"></i> <b>My Account</b></a>
                                                    <a class="dropdown-item" href="/User/Aistonuts"><i class="fas fa-user fa-fw"></i> <b>Public Profile</b></a>
                                                    <a class="dropdown-item" href="/Identity/ClaimRole/ClaimRole"><i class="fas fa-star"></i> <b>Premium</b></a>
                                                    <hr class="m-0">
                                                    <a class="dropdown-item" href="/Manage/Orders"><i class="fas fa-shopping-basket fa-fw"></i> <b>My Orders</b></a>
                                                    <a class="dropdown-item" href="/Art/Index"><i class="fas fa-archive fa-fw"></i> <b>My Decks</b></a>
                                                    <a class="dropdown-item" href="/Tourney/MyTourneys"><i class="fas fa-trophy fa-fw"></i> <b>My Tourneys</b></a>
                                                    <a class="dropdown-item" href="/Articles/MyArticles"><i class="fas fa-newspaper fa-fw"></i> <b>My Articles</b></a>
                                                    <a class="dropdown-item" href="/Video/MyVideos"><i class="fab fa-youtube fa-fw"></i> <b>My Videos</b></a>
                                                    <hr class="m-0">
                                                    <a class="dropdown-item" id="ae-logout" href="/Identity/Account/Logout"><i class="fas fa-sign-out-alt"></i> <b>Logout</b></a>
                                                </div>

                                            }



                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="ae-header-bottom-decoration d-flex">
                            <div class="shadow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>













        
        @*<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <partial name="_LoginPartial" />
        <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Article" asp-action="Create">Create Article</a>
        </li>
        </ul>
        </div>
        </div>
        </nav>*@












     





    </header>


    <div class="ae-inner-content-wrapper">
        <div class="inner-content">
            <div class="container">
                <div class="row pt-2">
                    <partial name="_CookieConsentPartial" />
                    <main role="main" class="pb-3">
                        @this.RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <div id="siteSearchModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Search AetherHub</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="fas fa-times text-dark"></span>
                    </button>
                </div>
                <div class="modal-body ui-front d-flex flex-row justify-content-center">
                    <div>
                        <form method="get" action="/Market/CardInfo">
                            <div class="input-group ae-card-search">
                                <input type="text" id="searchM" name="CardName"
                                       class="form-control d-print-none ui-autocomplete-input"
                                       placeholder="Search magic cards" aria-label="Search magic cards"
                                       autocomplete="off">
                                <div class="input-group-append">
                                    <button class="btn btn-light" type="submit" aria-label="Search">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <ul id="ui-id-1" tabindex="0"
                        class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" unselectable="on"
                        style="display: none;"></ul>
                </div>
                <div class="modal-footer mt-0">
                    <div class="text-right">
                        <button type="button" class="btn btn-light" data-dismiss="modal">
                            <i class="fas fa-times"></i> <b>Close</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popupMsg"></div>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/e0f25cd0cd.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
