@using Wizzarts.Common
@using Wizzarts.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" /> *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/keyrune.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/mana.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home-index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/playcard.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/article-index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/article.css" asp-append-version="true" />

</head>
<body data-base data-theme="dark">
    <div class="wrapper" id="wrapper">
        <nav id="sidebar" class="mCustomScrollbar _mCS_1 mCS-autoHide active mCS_no_scrollbar" style="overflow: visible;">
            <div id="mCSB_1" class="mCustomScrollBox mCS-minimal mCSB_vertical mCSB_outside" style="max-height: 1534px;" tabindex="0">
                <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; top: 0px; left: 0px;" dir="ltr">
                    <div class="w-100 text-center mb-1 mt-1">
                        <a href="/">
                            <img src="/images/navigation/Premium.png" loading="lazy" width="150" height="64" alt="AetherHub.com" class="mCS_img_loaded">
                        </a>
                        <button id="dismiss" class="btn btn-sm text-dark" aria-label="Close menu">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <ul class="list-unstyled components mobile-menu">
                        <li>
                            <a href="#DeckHubSubmenu" class="pt-2 pb-2 pl-4 nav-link" data-toggle="collapse" aria-expanded="true"> <b>General</b></a>
                            <ul class="list-unstyled collapse show" id="DeckHubSubmenu" style="">
                                <li>
                                    <a class="pl-5 pt-1 pb-2 nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li>
                                    <a class="pl-5 pt-1 pb-2 nav-link" asp-area="" asp-controller="Event" asp-action="All">Events</a>
                                </li>
                                <li>
                                    <hr class="mt-2 mb-2">
                                </li>
                                <li>
                                    <a class="pl-5 pt-1 pb-2 nav-link" asp-area="" asp-controller="Art" asp-action="All">Art</a>
                                </li>
                                <li>
                                    <a class="pl-5 pt-1 pb-2 nav-link" asp-area="" asp-controller="Artist" asp-action="All">Artists</a>
                                </li>
                            </ul>
                            <a href="#MetaHubSubmenu" class="pt-2 pb-2 pl-4 nav-link" data-toggle="collapse" aria-expanded="true"> <b>Magic cards</b></a>
                            <ul class="list-unstyled collapse show" id="MetaHubSubmenu" style="">
                                <li>
                                    <a class="pl-5 pt-1 pb-2 nav-link" asp-area="" asp-controller="Card" asp-action="All">Magic Cards</a>
                                </li>
                                <li>
                                    <a class="pl-5 pt-1 pb-2 nav-link" asp-area="" asp-controller="Expansion" asp-action="All">Game Expansions</a>
                                </li>
                                <li>
                                    <a class="pl-5 pt-1 pb-2 nav-link" asp-area="" asp-controller="Store" asp-action="All">Magic Game Stores</a>
                                </li>
                                <li>
                                    <hr class="mt-2 mb-2">
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Wizzarts" asp-action="GetRules">Wizzarts Card Game Rules</a>
                                </li>
                            </ul>
                            @if (this.SignInManager.IsSignedIn(this.User))
                            {
                                <a href="#CollectionSubmenu" class="pt-2 pb-2 pl-4 nav-link" data-toggle="collapse" aria-expanded="false"> <b>My area</b></a>
                                <ul class="collapse list-unstyled" id="CollectionSubmenu">
                                    <li>
                                        <a class="pl-5 pt-1 pb-2 nav-link" asp-area="" asp-controller="User" asp-action="Mine"><i class="fas fa-archive fa-fw"></i> <b>My Content</b></a>
                                    </li>

                                    <li>
                                        <hr class="mt-2 mb-2">
                                    </li>
                                    <li>
                                        <a class="pl-5 pt-1 pb-2 nav-link" asp-area="" asp-controller="Wizzarts" asp-action="Membership"><i class="fa fa-handshake-o" aria-hidden="true"></i> <b>Contribute</b></a>
                                    </li>
                                </ul>

                                <a href="#TourneySubmenu" class="pt-2 pb-2 pl-4 nav-link" data-toggle="collapse" aria-expanded="false"> <b>Magic Cardsmither</b></a>
                                <ul class="collapse list-unstyled" id="TourneySubmenu">
                                    <li>
                                        <a class="pl-5 pt-1 pb-2 nav-link" asp-area="" asp-controller="Card" asp-action="Create"><i class="fa fa-rss" aria-hidden="true"></i> <b>Create Card</b></a>
                                    </li>
                                    <li>
                                        <a class="pl-5 pt-1 pb-2 nav-link" asp-area="" asp-controller="Article" asp-action="Create"><i class="fa fa-rss" aria-hidden="true"></i> <b>Create Article</b></a>
                                    </li>
                                    <li>
                                        <hr class="mt-2 mb-2">
                                    </li>
                                    <li>
                                        <a class="pl-5 pt-1 pb-2 nav-link" asp-area="" asp-controller="Event" asp-action="Create"><i class="fa fa-rss" aria-hidden="true"></i> <b>Create Event</b></a>
                                    </li>
                                    <li>
                                        <a class="pl-5 pt-1 pb-2 nav-link" asp-area="" asp-controller="Art" asp-action="Create"><i class="fa fa-picture-o" aria-hidden="true"></i> <b>Create Art</b></a>
                                    </li>
                                </ul>
                            }
                        </li>
                    </ul>
                </div>
            </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; height: 0px; top: 0px; display: block; max-height: 836.578px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div><div class="mCSB_draggerRail"></div></div></div></div>
        </nav>
        <div class="w-100 ae-header sticky-menu-mobile-navbar d-print-none">
            <div class="ae-menu-left-decor">
                <picture>
                    <source srcset="/images/navigation/menu_side.svg" media="(min-width: 768px)">
                    <img src="/images/navigation/menu_side_mobile.svg" alt="">
                </picture>
            </div>
            <div class="ae-menu-right-decor">
                <picture>
                    <source srcset="/images/navigation/menu_side.svg" media="(min-width: 768px)">
                    <img src="/images/navigation/menu_side_mobile.svg" alt="">
                </picture>
            </div>
            <div class="ae-menu-center">
                <div class="ae-menu-center">
                    <div class="ae-menu">
                        <div class="ae-menu-logo">
                            <a class="d-none d-xl-block" asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="/images/navigation/MagicCardsmith.gif" class="ae-header-logo" alt="AetherHub" width="200" height="44">
                            </a>
                            <div class="d-block d-lg-none ml-2 mr-1">
                                <a id="sidebarCollapse" class="" aria-label="Menu"><i class="fas fa-bars"></i></a>
                            </div>
                        </div>
                        <div class="ae-menu-wrapper d-none d-lg-flex">
                            <ul class="d-flex justify-content-start">
                                <li>
                                    <div class="ae-nav-dropdown">
                                        <button type="button" class="ae-nav-dropdown-btn pl-1 pr-1 text-nowrap ae-nav-dropdown-lazy"><b>Home</b></button>
                                        <div class="ae-nav-dropdown-menu">

                                            <div class="ae-nav-dropdown-menu-wrapper">
                                                <div class="">
                                                    <div class="ae-list-header">
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="All">Events</a>

                                                        <hr>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ae-nav-dropdown">
                                        <button type="button" class="ae-nav-dropdown-btn pl-1 pr-1 text-nowrap ae-nav-dropdown-lazy"><b>Art</b></button>
                                        <div class="ae-nav-dropdown-menu">
                                            <div class="ae-nav-dropdown-menu-wrapper">
                                                <div class="">
                                                    <div class="ae-list-header">
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Art" asp-action="All">Art</a>
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Artist" asp-action="All">Artists</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ae-nav-dropdown">
                                        <button type="button" class="ae-nav-dropdown-btn pl-1 pr-1 text-nowrap ae-nav-dropdown-lazy"><b>Magic cards</b></button>
                                        <div class="ae-nav-dropdown-menu">

                                            <div class="ae-nav-dropdown-menu-wrapper">
                                                <div class="">
                                                    <div class="ae-list-header">
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Card" asp-action="All">Magic Cards</a>
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Expansion" asp-action="All">Game Expansions</a>
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Store" asp-action="All">Magic Game Stores</a>
                                                        <hr>
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Wizzarts" asp-action="GetRules">Magic Cardsmith Rules</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                {
                                    <li>
                                        <div class="ae-nav-dropdown">

                                            <button type="button" class="ae-nav-dropdown-btn pl-1 pr-1 text-nowrap ae-nav-dropdown-lazy"><b>Admin</b></button>
                                            <div class="ae-nav-dropdown-menu">

                                                <div class="ae-nav-dropdown-menu-wrapper">
                                                    <div class="">
                                                        <div class="ae-list-header">
                                                            <a class="nav-link text-dark" asp-area="Administration" asp-controller="Home" asp-action="Index" title="Admin">Home</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div class="ae-icons d-flex justify-content-start">

                            <div class="mr-2">
                                <ul class="nav">
                                    <li class="nav-item dropdown">
                                        <a class="" data-toggle="modal" data-target="#siteSearchModal">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mr-2">
                                <ul class="nav">
                                    <li class="nav-item dropdown">
                                        <a class="" data-toggle="dropdown">
                                            <i class="far fa-star"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" asp-area="" asp-controller="Membership" asp-action="Membership"><b>Membership</b></a>
                                            @*                                             <a class="dropdown-item" href="/Artist"><b>Content Creators</b></a>
                                            <a class="dropdown-item" href="/Team"><b>Team</b></a> *@

                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="mr-1">
                                <ul class="nav">
                                    <li class="nav-item dropdown">
                                        <a id="login-button" class="" data-toggle="dropdown" aria-label="Login">
                                            <i class="fas fa-user"></i>
                                        </a>
                                        <partial name="_LoginPartial" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ae-header-bottom-decoration d-flex">
                        <div class="shadow"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ae-inner-content-wrapper">
            <div class="inner-content">
                @* <div class="row row pt-2"> *@              
                    <partial name="_CookieConsentPartial" />
                    @this.RenderBody()
                <div>
                    
                    <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Team Wizzarts</h4>
                    <hr />
                    @await Component.InvokeAsync("WizzartsTeam")
                </div>
            </div>
        </div>
      
    </div>
    <footer class="d-print-none">
        <div class="footer-decor">
            <svg version="1.1" x="0px" y="0px" viewBox="0 0 120 40" xml:space="preserve">
            <path d="M0,0c0,0,41.3,8.5,62.7,17.8C84,36,120,40,120,40H0V0z"></path>
                </svg>
            <div>
                <hr class="lb-fade">
            </div>
            <svg version="1.1" x="0px" y="0px" viewBox="0 0 120 40" xml:space="preserve">
            <path d="M120,0c0,0-41.3,8.5-62.7,17.8C36,36,0,40,0,40h120V0z"></path>
                </svg>
        </div>
        <div class="row no-gutters pt-2 text-white footer-bg d-block d-md-flex align-items-center ff-display">
            <div class="d-none d-md-block col-md-4 text-center">
                <div id="zone05-300x250" class="mx-auto mb-3" data-request-id="018d31c7-f4a0-7000-843a-675e82eeaadc" data-bidder="house" data-creative-id="187" style="min-height: 250px; text-align: center; font-size: 0px;"><iframe width="300px" height="250px" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" title="advertisement" style="width: 300px; border: none; margin: 0px auto; display: block;"></iframe></div>
            </div>
            <div class="col-sm-12 col-md-4 text-center pb-3">
                <ul class="list-unstyled d-block d-md-flex gap-1 justify-content-center">
                    <li class="my-2 my-md-0"><a href="/Help" class="text-white"><b>Help</b></a></li>
                    <li class="my-2 my-md-0"><a href="/Contact" class="text-white"><b>Contact Us</b></a></li>
                    <li class="my-2 my-md-0"><a href="/PrivacyPolicy" class="text-white"><b>Privacy Policy</b></a></li>
                </ul>
                <ul class="list-unstyled d-block d-md-flex gap-1 justify-content-center">
                    <li class="my-2 my-md-0"><a href="/Premium/" class="text-white"><b>Premium Account</b></a></li>
                    <li class="my-2 my-md-0"><a href="/TermsAndConditions" class="text-white"><b>Terms and Conditions</b></a></li>
                    <li class="my-2 my-md-0"><a href="/Docs/" class="text-white"><b>Documentation</b></a></li>
                </ul>

            </div>
            <div class="d-none d-md-block col-md-4 text-center">
            </div>
        </div>
        <div class="bg-5 footer-copyright">
            <hr class="gold-fade">
            <div class="text-center small pl-3 pr-3">
                &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
    </footer>

    <div id="siteSearchModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Search </h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="fas fa-times text-dark"></span>
                    </button>
                </div>
                <div class="modal-body ui-front d-flex flex-row justify-content-center">
                    <div>
                        @*                    <form asp-controller="Search" asp-action="AdvancedSearch" method="get">


                        @foreach (var types in Model.CardTypes)
                        {
                        <div class="form-check form-check-inline">
                        <div class="col-1 text-center">
                        <input class="form-check-input" name="TypeOfCards" type="checkbox" id="types_@types.Id" value="@types.Id" />
                        <label asp-for="@types.Id" class="form-check-input">@types.Name</label>

                        </div>
                        </div>
                        }


                        <div class="input-group-append">
                        <button class="btn btn-light" type="submit" aria-label="Search">
                        <i class="fas fa-search"></i>
                        </button>
                        </div>
                        </form>*@

                        <form asp-controller="Search" asp-action="Search" method="get">
                            <div class="input-group ae-card-search">
                                <input type="text" id="searchM" name="CardName"
                                       class="form-control d-print-none ui-autocomplete-input"
                                       placeholder="Search magic cards" aria-label="Search magic cards"
                                       autocomplete="off">
                                <div class="input-group-append">
                                    <button class="btn btn-light" type="submit" aria-label="Search">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <ul id="ui-id-1" tabindex="0"
                        class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" unselectable="on"
                        style="display: none;"></ul>
                </div>
                <div class="modal-footer mt-0">
                    <div class="text-right">
                        <button type="button" class="btn btn-light" data-dismiss="modal">
                            <i class="fas fa-times"></i> <b>Close</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popupMsg"></div>
  
    <script type="text/javascript" src="~/js/html2canvas.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/popper.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/respond.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/jquery.lazy.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/jquery.unveil.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/bootstrap-select.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/jquery.mCustomScrollbar.concat.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/moment.min.js" asp-append-version="true"></script>
    <script src="~/js/global.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/popper.min.js" asp-append-version="true"></script>

@*     <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script> *@
    <script src="https://kit.fontawesome.com/e0f25cd0cd.js" crossorigin="anonymous"></script>

    <script>search();</script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
