@model MagicCardsHub.Web.ViewModels.Article.ArticleListViewModel
@{
    this.ViewData["Title"] = "All Art";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2">
    <div class="col-md-12">
        <div id="Article" class="outer-container">
            @foreach (var article in this.Model.Articles)
            {
                <div class="inner-container">
                    <a asp-action="ById" asp-route-id="@article.Id" class="item ae-card-link cardLink ">
                        "@article.Description"
                        <img class="lazy" src="@article.ArticleArt" alt="@article.Title" style="">
                        <div class="item-hidden-text">@article.Title</div>
                    </a>
                    <div class="item-footer">
                    </div>
                </div>
            }
        </div>
    </div>
</div>

