@model MagicCardsmith.Web.ViewModels.Artist.ArtistListViewModel
@{
    this.ViewData["Title"] = "All Artists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
        <h2 class="ml-4 text-center ae-border-bottom-light text-header-gold"><i class="far fa-star"></i> Content Creator Program</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 pl-0 pr-0">
        <div class="row">
            @foreach (var artist in this.Model.Artists)
            {
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-2">

                    <div class="card h-100">
                        <div class="card-header p-0 text-center">
                            <a asp-action="ById" asp-route-id="@artist.Id">
                                <b>
                                    <i class="fas fa-star" title="Premium User"></i>
                                    <i class="far fa-star" title="Content Creator"></i> @artist.Nickname
                                </b>
                            </a>
                        </div>
                        <div class="card-body p-0">
                            <div class="w-100 d-flex justify-content-start text-center">
                                <div>
                                    <div class="ae-profile-image-container mt-1" title="Image ©Brothers in Arms">
                                        <a asp-action="ById" asp-route-id="@artist.Id">
                                            <img src="@artist.AvatarUrl" alt="Copyright Brothers in Arms" class="ae-profile-image-card">
                                        </a>
                                    </div>
                                </div>
                                <div class="w-100">                                  
                                    <div class="w-100 mt-1">
                                        <a href="#modalTCGPartner" data-toggle="modal">TCGplayer Affiliate</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-white p-0 d-flex mt-2">
                            <div class="w-100 d-flex justify-content-around text-center">
                                <div>
                                    <span class="d-block text-muted small">Followers</span>
                                    <span class="font-weight-bold">2429</span>
                                </div>
                                <div>
                                    <span class="d-block text-muted small">Following</span>
                                    <span class="font-weight-bold">0</span>
                                </div>
                                <div>
                                    <span class="d-block text-muted small">Level</span>
                                    <div class="font-weight-bold ae-levelCalc" data-myexp="47421"><a href="#levelDescriptionModal" data-toggle="modal" title="Aether High Mage - next lvl 946 / 4780xp">26</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div id="modalTCGPartner" class="modal fade" role="dialog" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary pt-0 pb-0">
                        <img src="https://aetherhub.b-cdn.net/images/tcgplayer.png" class="mx-auto d-block" height="60" alt="TCGplayer Affiliate">
                    </div>
                    <div class="modal-body">
                        <p>
                            Being a TCGplayer Affiliate enables Content Creators to earn revenue on making content on Aetherhub. All links to Cards in the Decks and Articles of Content Creators that are
                            affiliated with TCGplayer are linked with their affiliate ID. When users buy cards via links from Content Creators they earn revenue from the purchase you make.
                        </p>
                        <p>
                            AetherHub welcomes more Content Creators to our TCGplayer Affiliate system, <a href="/ContentCreators/" target="_blank" rel="noopener">read more about it here.</a>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light btn-outline-dark" data-dismiss="modal"><i class="fas fa-times"></i> <b>Close</b></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="levelDescriptionModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <b class="modal-title">AetherHub Levels</b>
                        <button type="button" class="close" data-dismiss="modal"><span class="fas fa-times text-dark"></span></button>
                    </div>
                    <div class="modal-body">
                        <p>
                            The AetherHub level progression is made for fun as a incentive to measure content creation and social actions.
                            The following actions gives experience rewards:
                        </p>
                        <ul>
                            <li>Liking or getting likes on Decks / Articles</li>
                            <li>Commenting or getting comments on Decks / Articles</li>
                            <li>Creating Articles</li>
                            <li>Creating Tourneys</li>
                        </ul>
                        <p><b>Level Rankings</b></p>
                        <ul>
                            <li>1-4 Aether Peasant</li>
                            <li>5-9 Aether Rebel</li>
                            <li>10-14 Aether Warrior</li>
                            <li>15-19 Aether Assassin</li>
                            <li>20-24 Aether Mage</li>
                            <li>25-29 Aether High Mage</li>
                            <li>30-34 Aether Patriarch</li>
                            <li>35-39 Aether Demon</li>
                            <li>40-49 Aether Colossus</li>
                            <li>50-59 Aether Eldrazi</li>
                            <li>60-69 Aether Noble</li>
                            <li>70-79 Aether Hero</li>
                            <li>80-89 Aether Planeswalker</li>
                            <li>90-99 Aether Mythic</li>
                            <li>100+ Aether Legend</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light btn-outline-danger font-weight-bold" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 d-flex justify-content-center">
        <partial name="_PagingPartial" model="@Model" />
        </div>
    </div>
</div>