@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Wizzarts.Data.Models
@using Wizzarts.Web.Infrastructure.Extensions
@model Wizzarts.Web.ViewModels.Article.ArticleListViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    this.ViewData["Title"] = "All Articles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row ae-break-word pt-2">
    <div class="col-sm-12 col-xl-9 pl-0 pr-0">
        <h4 class="text-center pb-1 ae-border-bottom-light text-header-gold">Member's articles</h4>
        <div id="firstfeed" class="firstfeed-flexbox mr-md-2">
            @if (!Model.UserArticles.Any())
            {
                <div class="d-flex flex-row justify-content-center">
                    <div class="font-weight-bold mt-5" style="max-width: 500px;">
                        <a asp-controller="Article" asp-action="Create" class="image-wrapper"> <h4 class="text-center mb-2 ae-border-bottom-light text-header-gold">Create new article</h4></a>
                    </div>
                </div>
            }
            else
            {
                @foreach (var article in this.Model.UserArticles.Where(x=> x.ApprovedByAdmin == true))
                {
                    <div class="article-card card border-0">
                        <a asp-controller="Article" asp-action="ById" asp-route-id="@article.Id" asp-route-information="@article.GetArticleTitle()" aria-label="article" class="image-wrapper">
                            <img src="@article.ImageUrl" class="article-uimgheader lazy" alt="@article.Title">
                        </a>
                        <div class="card-body pt-0">
                            <small class="yellow-line">
                                <a asp-controller="User" asp-action="ById" asp-route-id="@article.ArticleCreatorName" asp-route-information="@article.GetWizzartsMemberName()"><i class="far fa-star"></i>@article.ArticleCreatorName</a>
                                <span>@article.CreatedOn</span>
                            </small>
                            <div class="ff-display font-size-18">
                                <b><a asp-controller="Article" asp-action="ById" asp-route-id="@article.Id" asp-route-information="@article.GetArticleTitle()">@article.Title</a></b>
                            </div>
                            <div class="card-text d-none d-md-flex m-1">@article.ShortDescription</div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="col-sm-12 col-xl-3 pl-0 pr-0">
        <div class="card mb-2">
            <div class="w-100 text-center ae-border-bottom-light"><h4><a class="metagroup-link ff-display">Articles</a></h4></div>
            <div class="card-body pl-1 pr-1 pt-2 pb-0">
                @foreach (var article in this.Model.Articles)
                {
                    <div class="metagroup-container">
                        <div class="mr-2 d-none d-lg-block">
                            <a asp-controller="Article" asp-action="ById" asp-route-id="@article.Id" asp-route-information="@article.GetArticleTitle()" class="image-wrapper">
                                <div class="meta-cardimg" style="background-image: url('@article.ImageUrl')"></div>
                            </a>
                        </div>
                        <div>
                            <a asp-controller="Article" asp-action="ById" asp-route-id="@article.Id" asp-route-information="@article.GetArticleTitle()" class="image-wrapper">
                                <b class="text-primary">@article.Title</b>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>