@model Wizzarts.Web.ViewModels.Chat.SingleChatViewModel

@{
    this.ViewData["Title"] = "Various Chat ById";
}

<div class="row pt-2">
    <div class="col-md-12 pl-0 pr-0">



        <div class="card border-0">

            <div class="card mb-2 ">

                <div class="ae-border-bottom-light  p-0 text-center">
                    <b><i class="fas fa-users"></i> Chat</b>
                </div>
                <div class="chat-box-main">
                    <div class="chat" style="height:627px">

                        <div id="messagesList" class="chat-body">
                            @foreach (var message in Model.Messages)
                            {
                                <div class="message">
                                    <header style="color:black">@message.Name:</header>
                                    <p style="color:black">@message.Text</p>
                                    <footer style="color:black">@message.Timestamp</footer>
                                </div>
                            }
                        </div>
                        <div class="row text-center no-gutters mb-3">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="btn-group w-100 flex-wrap">
                                    @foreach (var room in Model.ChatRooms)
                                    {
                                        <a asp-controller ="Chat" asp-action="ById" asp-route-id="@room.Id" id="formatId-15" data-id="15" data-format="Other" class="btn btn-sm btn-light btn-outline-primary format-btn format-select-button mt-1 mt-xl-0 pl-1 pr-1"><b>@room.Name</b></a>
                                    }                                  
                                </div>
                            </div>
                        </div>
                        <hr />

                        <form method="post" onsubmit="sendMessage(event)" id="chatMessage" class="ae-border-bottom-light  p-0 text-center">
                            <div  class="input-group ae-card-search-v1">
                                <input type="text" name="message" id="messageInput"
                                       class="form-control d-print-none ui-autocomplete-input"
                                       placeholder="Send your message >>>>>" aria-label="Search magic cards" />
                                <div class="input-group-append">
                                    <button type="submit" id="sendButton" class="btn btn-light" aria-label="Search">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<form method="post" id="antiForgeryForm"></form>
@section Scripts {

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/chat.js" asp-append-version="true"></script>


    <script>
        var sendMessage = function (event) {
            event.preventDefault();
            var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
            var text = $('#messageInput').val();
            var data = { userId: 1, text: text, chatId: @Model.ChatId};
            console.log(data);
            document.getElementById('messageInput').value = '';
            $.ajax({
                type: "POST",
                url: "/api/Chat/Post",
                data: JSON.stringify(data),
                headers: {
                    'X-CSRF-TOKEN': antiForgeryToken
                },
                contentType: 'application/json',
            });
        }
    </script>
}
