@model MagicCardsmith.Web.ViewModels.Expansion.ExpansionListViewModel
@using MagicCardsmith.Web.Infrastructure.Extensions
@{
    this.ViewData["Title"] = "Game Expansions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-sm-12 col-md-12 pl-0 pr-0">
    <div class="row">

        <div class="col-sm-12 col-md-12 pl-0 pr-0">
            <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Events</h4>

            <div class="firstfeed-flexbox-events">
                @foreach (var expansion in this.Model.Expansions)
                {
                    <div class="article-card card border-0">
                        <a href="" aria-label="article" class="image-wrapper">
                            <a asp-controller="Expansion" asp-action="ById" asp-route-id="@expansion.Id" asp-route-information="@expansion.GetExpansionTitle()"  class="article-uimgheader">
                                <img src="@expansion.ExpansionSymbolUrl" class="article-uimgheader" alt="@expansion.Title">
                            </a>
                        </a>
                        <div class="card-body pt-0">
                            <small class="yellow-line">
                                <a href=""><i class="far fa-star"></i></a>
                            </small>
                            <div class="ff-display font-size-18">
                                <b><a href="">@expansion.CardsCount</a></b>
                            </div>
                            <div class="card-text d-none d-md-flex m-1">@expansion.Description</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
