@using MagicCardsmith.Common
@model MagicCardsmith.Web.ViewModels.Expansion.SingleExpansionViewModel
@using MagicCardsmith.Web.Infrastructure.Extensions
@{
    this.ViewData["Title"] = Model.Title;
}

<div class="row mt-2">
    <div class="col-md-12">
        <div id="Card" class="outer-container">
            @if(this.Model.Cards != null)
            {
                @foreach (var card in this.Model.Cards)
                {
                    <div class="inner-container">
                        <a asp-controller="Card" asp-action="ById" asp-route-id="@card.Id" asp-route-information="@card.GetCardName()"  class="item ae-card-link cardLink ">
                            <img class="lazy" src="@card.CardRemoteUrl" alt="@card.Name" style="">
                            <div class="item-hidden-text">@card.Name</div>
                        </a>
                        <div class="item-footer">
                        </div>
                    </div>
                }
            }
            else
            {
                <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">This expansion </h4>
            }
            
        </div>
    </div>
</div>
