@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Wizzarts.Common
@using Wizzarts.Web.Infrastructure.Extensions
@model Wizzarts.Web.ViewModels.Art.SingleArtViewModel

@{
    this.ViewData["Title"] = "Art By Id";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pt-2">
    <div class="col-md-12 col-lg-12 col-xl-9 pl-0 pr-0 pr-xl-1">
        <div class="card">
            <div class="card-body">
                <div class="w-100 span-all mb-5 mt-5">
                    <div id="cardInfo" class="row mb-4">
                        <div class="col-sm-12 col-md-6 cardModal">
                            <a class="" data-toggle="modal" data-target="#imageModal">
                                <div class="card-image-front text-center"><img id="previewCardModal" class="card-image" src="@Model.ImageUrl" alt="Card" onerror="this.onerror=null;this.src='@Model.ImageUrl';"></div>
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6 mt-3 mt-md-0">
                            <h2>@Model.Title</h2>
                            <p>@Model.Description</p>
                            <hr>
                            <p>
                                <i>Illustrated by: @Model.AddedByMember</i><br>
                            </p>
                            <div class="text-right">
                                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#imageModal">
                                    <i class="fas fa-times"></i> <b>Preview</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-12">
                    <ul class="entry-meta">
                        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) && Model.ApprovedByAdmin == false)
                        {
                            
                            <li class="single-meta">
                                <form asp-area="" asp-controller="Art" method="post" asp-action="ApproveArt" asp-route-id="@Model.Id">
                                    <button class="btn btn-danger">Approve</button>
                                </form>
                            </li>
                        }
                        @if (this.User.Identity?.Name == Model.AddedByMember || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <li class="single-meta">
                                <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
                                </form>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                            </li>
                            <li class="single-meta">
                                <a asp-controller="Art" asp-action="Edit" asp-route-id="@Model.Id">
                                    <button class="btn btn-danger">Edit</button>
                                </a>
                            </li>
                        }                    
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-12 col-xl-3 pl-0 pr-0">
        <div class="card mb-2">
            <div class="w-100 text-center ae-border-bottom-light"><h4><a class="metagroup-link ff-display">Events</a></h4></div>
            <div class="card-body pl-1 pr-1 pt-2 pb-0">
                @foreach (var events in this.Model.Events)
                {
                    <div class="metagroup-container">
                        <div class="mr-2 d-none d-lg-block">
                            <a asp-controller="Event" asp-action="ById" asp-route-id="@events.Id" asp-route-information="@events.GetEventTitle()" class="image-wrapper">
                                <img class="meta-cardimg" style="background-image: url('@events.ImageUrl')" alt="">
                            </a>
                        </div>
                        <div>
                            <a asp-controller="Event" asp-action="ById" asp-route-id="@events.Id" asp-route-information="@events.GetEventTitle()" class="image-wrapper">
                                <b class="text-primary">@events.Title</b>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="card mb-2">
            <div class="w-100 text-center ae-border-bottom-light"><h4><a class="metagroup-link ff-display">Articles</a></h4></div>
            @foreach (var article in this.Model.Articles)
            {
                <div class="card mt-2 mb-2 ">
                    <div class="w-100 d-flex justify-content-start">
                        <div class="mr-1">
                            <a asp-controller="Article" asp-action="ById" asp-route-id="@article.Id" asp-route-information="@article.GetArticleTitle()" class="image-wrapper">
                                <img class="meta-cardimg" style="background-image: url('@article.ImageUrl')" alt="">
                            </a>
                        </div>
                        <div>
                            <div class="ff-display font-size-18">
                                <b> <a asp-controller="Article" asp-action="ById" asp-route-id="@article.Id" asp-route-information="@article.GetArticleTitle()"  class="image-wrapper">@article.Title</a></b>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<hr />

<div id="imageModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Model.Title</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span class="fas fa-times text-dark"></span>
                </button>
            </div>
            <div class="modal-body ui-front d-flex flex-row justify-content-center">
                <div>
                    <div class="ae-img-header-byid"><img id="previewCardModal" width="800" height="700" class="ae-img-byid" src="@Model.ImageUrl" alt="Card" onerror="this.onerror=null;this.src='@Model.ImageUrl';"></div>
                </div>
                <ul id="ui-id-1" tabindex="0"
                    class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" unselectable="on"
                    style="display: none;"></ul>
            </div>
            <div class="modal-footer mt-0">
                <div class="text-right">
                    <button type="button" class="btn btn-light" data-dismiss="modal">
                        <i class="fas fa-times"></i> <b>Close</b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Do you want to delete "@Model.Title"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>