@using Wizzarts.Common
@using Wizzarts.Data.Models
@using Microsoft.AspNetCore.Identity
@using Wizzarts.Web.Infrastructure.Extensions
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model Wizzarts.Web.ViewModels.WizzartsMember.MemberDataViewModel


@{
    this.ViewData["Title"] = "Members Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row pt-2">
    <div class="col-md-12 col-lg-12 col-xl-9 pl-0 pr-0 pr-xl-1">

        <div class="card">
            <div class="card-body">
                <div class="row text-center no-gutters">
                    <div class="col-md-12">
                        <h2 class="text-header-gold">My data</h2>
                        <p>
                            All uploaded and approved and non-approved data.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-oneKpx mb-4">
            <div id="metaHubTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                <div class="row">
                    <div class="col-sm-12 col-md-12 pl-0 pr-0">
                        <h1 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Welcome to @GlobalConstants.SystemName!</h1>
                        <div class="mb-2 firstfeed-flexbox ff-display">
                            <div class="card">
                                <div class="ae-border-bottom-light text-gold pl-2">
                                    <b>Stores</b>
                                </div>
                                <div class="card-body p-2">
                                    @foreach (var store in this.Model.Stores)
                                    {
                                        <a asp-controller="Store" asp-action="All" class="text-decoration-none"><i class="ss ss-pmtg1"></i>@store.Name</a>

                                        <br>
                                    }
                                </div>
                            </div>
                            <div class="card">
                                <div class="ae-border-bottom-light text-gold pl-2">
                                    <b>Events</b>
                                </div>
                                <div class="card-body p-2">
                                    @foreach (var gameEvent in this.Model.Events)
                                    {
                                        <a asp-controller="Event" asp-action="All" class="text-decoration-none"><i class="ss ss-parl3"></i>@gameEvent.Title</a>

                                        <br>
                                    }
                                </div>
                            </div>
                            <div class="card">
                                <div class="ae-border-bottom-light text-gold pl-2">
                                    <b>Wizzarts database</b>
                                </div>
                                <div class="card-body p-2">
                                    <a asp-controller="Art" asp-action="All" class="text-decoration-none"><i class="ss ss-pmtg1"></i> Art</a><br>
                                    <a asp-controller="PlayCard" asp-action="All" class="text-decoration-none"><i class="ss ss-pmtg1"></i> Game Cards</a><br>
                                    <a asp-controller="Wizzarts" asp-action="GetRules" class="text-decoration-none"><i class="ss ss-pmtg1"></i> Game rules</a><br>
                                    <a asp-controller="Wizzarts" asp-action="Membership" class="text-decoration-none"><i class="ss ss-parl3"></i> Membership</a><br>
                                    <a asp-controller="Event" asp-action="All" class="text-decoration-none"><i class="ss ss-pmtg1"></i>Events</a><br>
                                    <a asp-controller="Order" asp-action="My" class="text-decoration-none"><i class="ss ss-pmtg1"></i> My orders</a><br>
                                    <a asp-controller="User" asp-action="MyData" class="text-decoration-none"><i class="ss ss-pmtg1"></i> My data</a><br>
                                </div>
                            </div>
                            <div class="card">
                                <div class="ae-border-bottom-light text-gold pl-2">
                                    <b>TOOLS</b>
                                </div>
                                <div class="card-body p-2">

                                    <a asp-controller="Article" asp-action="Create" class="text-decoration-none"><i class="fas fa-trophy"></i> Create article</a><br>
                                    <a asp-controller="Art" asp-action="Add" class="text-decoration-none"><i class="fas fa-briefcase"></i> Add art</a><br>
                                    <a asp-controller="Event" asp-action="Create" class="text-decoration-none"><i class="ss ss-parl3"></i> Create event</a><br>
                                    <a asp-controller="Deck" asp-action="Create" class="text-decoration-none"><i class="ss ss-pmtg1"></i> My card decks/Create a deck</a><br>
                                    @if (this.User.IsInRole(GlobalConstants.ArtistRoleName) || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                    {
                                        <a asp-controller="PlayCard" asp-action="Add" class="text-decoration-none"><i class="fas fa-tools"></i>Play card</a><br>
                                    }
                                </div>
                            </div>
                        </div>
                        <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Articles</h4>

                        <div class="firstfeed-flexbox">
                            @foreach (var article in this.Model.Articles.ToList().Take(4).Where(x => x.ApprovedByAdmin == true))
                            {
                                <div class="article-card card border-0">
                                    <a asp-controller="Article" asp-action="ById" asp-route-id="@article.Id" asp-route-information="@article.GetArticleTitle()" aria-label="article" class="image-wrapper">
                                        <img src="@article.ImageUrl" class="article-uimgheader lazy" alt="@article.Title">
                                    </a>
                                    <div class="card-body pt-0">
                                        <small class="yellow-line">
                                            <i class="far fa-star"></i>
                                            <span>@article.CreatedOn</span>
                                        </small>
                                        <div class="ff-display font-size-18">
                                            <b><a href="">@article.Title</a></b>
                                        </div>
                                        <div class="card-text d-none d-md-flex m-1">@article.ShortDescription</div>
                                    </div>
                                </div>
                            }
                        </div>
                        <hr />
                        <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Art</h4>
                        <div class="firstfeed-flexbox">
                            @foreach (var art in this.Model.Arts.ToList().Where(x => x.ApprovedByAdmin == true))
                            {
                                <div class="article-card card border-0">
                                    <a asp-controller="Art" asp-action="ById" asp-route-id="@art.Id" asp-route-information="@art.GetInformation()" class="image-wrapper">
                                        <img width="600" height="300" class="article-uimgheader lazy" src="@art.ImageUrl" alt="@art.Title" style="">

                                    </a>

                                    <div class="item-footer">
                                    </div>
                                </div>

                            }
                        </div>
                        <hr />
                        <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Cards</h4>
                        <div class="firstfeed-flexbox">
                            @foreach (var card in this.Model.Cards.ToList().Where(x => x.ApprovedByAdmin == true))
                            {
                                <div class="inner-container">
                                    <a asp-controller="PlayCard" asp-action="ById" asp-route-id="@card.Id" asp-route-information="@card.GetCardName()" class="item ae-card-link cardLink ">
                                        <img width="200" height="300" src="@card.CardRemoteUrl" alt="@card.Name" style="">
                                        <div class="item-hidden-text">@card.Name</div>
                                    </a>
                                    <div class="item-footer">
                                    </div>
                                </div>
                            }
                        </div>
                        <hr />
                        <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Events</h4>
                        <div class="firstfeed-flexbox">
                            @foreach (var events in this.Model.Events.ToList().Where(x => x.ApprovedByAdmin == true))
                            {
                                <div class="article-card card border-0">

                                    <a asp-controller="@events.ControllerName" asp-action="@events.ActionName" asp-route-id="@events.Id" asp-route-information="@events.GetEventTitle()" class="image-wrapper">
                                        <img src="@events.ImageUrl" class="article-uimgheader" style="width : 366px" alt="@events.Title">
                                    </a>
                                    <div class="card-body pt-0">
                                        <small class="yellow-line">
                                            <a asp-controller="Wizzarts" asp-action="ById" asp-route-id="@events.Creator">@events.Creator<i class="far fa-star"></i></a>
                                            <span>@events.CreatedOn</span>
                                        </small>
                                        <div class="ff-display font-size-18">
                                            <a asp-controller="@events.ControllerName" asp-action="@events.ActionName" asp-route-id="@events.Id" asp-route-id="@events.Id" asp-route-information="@events.GetEventTitle()"><b>@events.Title</b></a>
                                        </div>
                                        <div class="card-text d-none d-md-flex m-1">@events.EventDescription</div>
                                    </div>
                                    <div class="single-meta">
                                        <a asp-controller="Event" asp-action="My" asp-route-id="@events.Id" asp-route-information="@events.GetEventTitle()">
                                            <button class="btn btn-light font-weight-bold">Edit</button>
                                        </a>
                                    </div>
                                </div>
 
                            }
                        </div>
                        <hr />
                        <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Stores</h4>
                        <div class="firstfeed-flexbox">
                            @foreach (var stores in this.Model.Stores.ToList().Where(x => x.ApprovedByAdmin == true))
                            {
                                <div class="inner-container">
                                    <a asp-controller="Store" asp-action="All" class="item ae-card-link cardLink ">
                                        <img width="200" height="300" src="@stores.Image" alt="@stores.Name" style="">
                                        <div class="item-hidden-text">@stores.Name</div>
                                    </a>
                                    <div class="item-footer">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-3 pl-0 pr-0">
        <div class="card mb-2">
            <div class="text-header-gold w-100 text-center"><h4>Content awaiting approval</h4></div>
        </div>
        <div class="card mb-2">
            <div class="w-100 text-center ae-border-bottom-light"><h4>Art</h4></div>
            <div class="card-body pl-1 pr-1 pt-2 pb-0">
                @foreach (var art in this.Model.Arts.ToList().Where(x => x.ApprovedByAdmin == false))
                {
                    <div class="metagroup-container">
                        <div class="mr-2 d-none d-lg-block">
                            <a asp-controller="Art" asp-action="ById" asp-route-id="@art.Id" asp-route-information="@art.GetInformation()">
                                <div class="meta-cardimg" style="background-image: url('@art.ImageUrl')"></div>
                            </a>
                        </div>
                        <div>
                            <a class="metagroup-link">
                                <b class="text-primary">@art.Title</b>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <hr />
            <div class="card mb-2">
                <div class="w-100 text-center ae-border-bottom-light"><h4>Articles</h4></div>
                <div class="card-body pl-1 pr-1 pt-2 pb-0">
                    @foreach (var article in this.Model.Articles.ToList().Take(4).Where(x => x.ApprovedByAdmin == false))
                    {
                        <div class="metagroup-container">
                            <div class="mr-2 d-none d-lg-block">
                                <a asp-controller="Article" asp-action="ById" asp-route-id="@article.Id" asp-route-information="@article.GetArticleTitle()">
                                    <div class="meta-cardimg" style="background-image: url('@article.ImageUrl')"></div>
                                </a>
                            </div>
                            <div>
                                <a class="metagroup-link">
                                    <b class="text-primary">@article.Title</b>
                                </a>
                            </div>
                        </div>
                    }
                </div>
                <hr />
                <div class="card mb-2">
                    <div class="w-100 text-center ae-border-bottom-light"><h4>Events</h4></div>
                    <div class="card-body pl-1 pr-1 pt-2 pb-0">
                        @foreach (var events in this.Model.Events.ToList().Where(x => x.ApprovedByAdmin == false))
                        {
                            <div class="metagroup-container">
                                <div class="mr-2 d-none d-lg-block">
                                    <a asp-controller="Event" asp-action="My" asp-route-id="@events.Id" asp-route-information="@events.GetEventTitle()">
                                        <div class="meta-cardimg" style="background-image: url('@events.ImageUrl')"></div>
                                    </a>
                                </div>
                                <div>
                                    <a class="metagroup-link">
                                        <b class="text-primary">@events.Title</b>
                                    </a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
                <hr />
                <div class="card mb-2">
                    <div class="w-100 text-center ae-border-bottom-light"><h4>Play cards</h4></div>
                    <div class="card-body pl-1 pr-1 pt-2 pb-0">
                        @foreach (var card in this.Model.Cards.ToList().Where(x => x.ApprovedByAdmin == false))
                        {
                            <div class="metagroup-container">
                                <div class="mr-2 d-none d-lg-block">
                                    <a asp-controller="PlayCard" asp-action="ById" asp-route-id="@card.Id" asp-route-information="@card.GetCardName()">
                                        <div class="meta-cardimg" style="background-image: url('@card.CardRemoteUrl')"></div>
                                    </a>
                                </div>
                                <div>
                                    <a class="metagroup-link">
                                        <b class="text-primary">@card.Name</b>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <hr />
                <div class="card mb-2">
                    <div class="w-100 text-center ae-border-bottom-light"><h4>Stores</h4></div>
                    <div class="card-body pl-1 pr-1 pt-2 pb-0">
                        @foreach (var store in this.Model.Stores.ToList().Where(x => x.ApprovedByAdmin == false))
                        {
                            <div class="metagroup-container">
                                <div class="mr-2 d-none d-lg-block">
                                    <div class="meta-cardimg" style="background-image: url('@store.Image')"></div>
                                </div>
                                <div>
                                    <a class="metagroup-link">
                                        <b class="text-primary">@store.Name</b>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <hr />
                <div class="card mb-2">
                    <div class="w-100 text-center ae-border-bottom-light"><h4>Orders</h4></div>
                    <div class="card-body pl-1 pr-1 pt-2 pb-0">
                        @foreach (var order in this.Model.Orders)
                        {
                            <div class="metagroup-container">
                                <div class="mr-2 d-none d-lg-block">
                                    <a asp-controller="Order" asp-action="ById" asp-route-id="@order.Id">
                                        <div class="meta-cardimg" style="background-image: url('@order.DeckImageUrl')"></div>
                                    </a>
                                </div>
                                <div>
                                    <a class="metagroup-link">
                                        <b class="text-primary">@order.Title</b>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <hr />
                <div class="card mb-2">
                    <div class="w-100 text-center ae-border-bottom-light"><h4>My latest card decks</h4></div>
                    <div class="card-body pl-1 pr-1 pt-2 pb-0">
                        @foreach (var deck in this.Model.Decks)
                        {
                            <div class="metagroup-container">
                                <div class="mr-2 d-none d-lg-block">
                                    <a asp-controller="Deck" asp-action="ById" asp-route-id="@deck.Id" asp-route-information="@deck.GetDeckName()">
                                        <div class="meta-cardimg" style="background-image: url('@deck.ImageUrl')"></div>
                                    </a>
                                </div>
                                <div>
                                    <a class="metagroup-link">
                                        <b class="text-primary">@deck.Name</b>
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

