@model Wizzarts.Web.ViewModels.Store.StoreListViewModel
@using Wizzarts.Common;
@{
    this.ViewData["Title"] = "All Stores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-lg-12 col-xl-12 pl-0 pr-0 pr-xl-3">
    <div class="col-sm-12 col-md-12 pl-0 pr-0">
        <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Stores</h4>

        <div class="firstfeed-flexbox">
            @foreach (var store in this.Model.Stores.Where(x => x.ApprovedByAdmin == true))
            {
                <div class="article-card card border-0">
                    <a href="" aria-label="article" class="image-wrapper" data-toggle="modal" data-target="#imageModal">

                        <div class="article-uimgheader"><img id="previewCardModal" class="article-uimgheader" style="width : 366px" src="@store.Image" alt="Card" onerror="this.onerror=null;this.src='@store.Image';"></div>

                    </a>
                    <div class="card-body pt-0">
                        <small class="yellow-line">
                            <a href=""><i class="far fa-star"></i></a>
                        </small>
                        <div class="ff-display font-size-18">
                            <b><a href="">@store.Name</a></b>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#imageModal">
                                <i class="fas fa-times"></i> <b>Location</b>
                            </button>
                        </div>
                    </div>

                </div>

                <div id="imageModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">@store.Name</h4>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span class="fas fa-times text-dark"></span>
                                </button>
                            </div>
                            <div class="modal-body ui-front d-flex flex-row justify-content-center">
                                <div>
                                    <div class="ae-img-byid"><img id="previewCardModal" class="ae-img-byid" src="@store.Image" alt="Store" onerror="this.onerror=null;this.src='@store.Image';"></div>
                                </div>
                                <div class="col-sm-12 col-md-6 mt-3 mt-md-0">
                                    <h2>@store.Name</h2> @* <span class="pull-right"><i class="ms ms-4 ms-cost ms-shadow"></i><i class="ms ms-b ms-cost ms-shadow"></i><i class="ms ms-g ms-cost ms-shadow"></i></span> *@
                                    <p>@store.Address</p>
                                    <hr>
                                    <p>@store.PhoneNumber</p>
                                    <p>@store.City</p>
                                    <p>@store.Country</p>
                                    <p><i></i></p>
                                    <hr>
                                    <p>
                                        <i>Owned by: @store.StoreOwnerId</i><br>
                                    </p>
                                </div>
                                <ul id="ui-id-1" tabindex="0"
                                    class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" unselectable="on"
                                    style="display: none;"></ul>
                            </div>
                            <div class="modal-footer mt-0">
                                <div class="text-right">
                                    <button type="button" class="btn btn-light" data-dismiss="modal">
                                        <i class="fas fa-times"></i> <b>Close</b>
                                    </button>
                                </div>
                            </div>
                            <div class="col-xl-9 col-12">
                                <ul class="entry-meta">
                                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                    {
                                        <li class="single-meta">
                                            <a asp-controller="Store" asp-action="Edit" asp-route-id="@store.Id" class="btn btn-secondary">Edit</a>
                                        </li>
                                        <li class="single-meta">
                                            <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@@store.Id">
                                            </form>
                                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                                        </li>
                                        <li class="single-meta">
                                            <form asp-controller="Store" method="post" asp-action="ApproveStore" asp-route-id="@store.Id">
                                            </form>
                                            <button class="btn btn-danger">Approve</button>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<partial name="_PagingPartial" model="@Model" />