@using Wizzarts.Common
@using Wizzarts.Data.Models
@using Microsoft.AspNetCore.Identity
@using Wizzarts.Services.Data
@using Wizzarts.Web.Infrastructure.Extensions
@using static Wizzarts.Common.MembershipConstants
@using static Wizzarts.Common.GlobalConstants
@model Wizzarts.Web.ViewModels.Home.IndexAuthenticationViewModel
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> userManager;
@inject IUserService userService;
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="row ae-break-word">
    <div class="col-md-12 col-lg-12 col-xl-9 pl-0 pr-0 pr-xl-3">
        <div class="row">
            <div class="col-sm-12 col-md-12 pl-0 pr-0">
                <h1 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Welcome to @GlobalConstants.SystemName!</h1>
                @if (this.SignInManager.IsSignedIn(this.User))
                {
                    <div class="mb-2 firstfeed-flexbox ff-display">
                        <div class="card">
                            <div class="ae-border-bottom-light text-gold pl-2">
                                <b>Account progress</b>
                            </div>
                            @if (this.User.IsArtist() || this.User.IsPremiumUser() || this.User.IsAdmin())
                            {
                                <div class="card-body p-2">
                                    <b class="text-decoration-none"><i class="ss ss-pmtg1"></i>Articles :@Model.CountOfArticles</b><br>
                                    <b class="text-decoration-none"><i class="ss ss-parl3"></i>Events : @Model.CountOfEvents</b><br>
                                    <b class="text-decoration-none"><i class="ss ss-parl3"></i>Cards  : @Model.CountOfCards</b><br>
                                     <b class="text-decoration-none"><i class="ss ss-pmtg1"></i>Art pieces: @Model.CountOfArts</b><br>
                                </div>
                                <div class="card-body p-2">
                                    <b class="text-decoration-none"><i class="ss ss-pmtg1"></i>Articles :@Model.CountOfArticles</b><br>
                                    <b class="text-decoration-none"><i class="ss ss-parl3"></i>Events : @Model.CountOfEvents</b><br>
                                    <b class="text-decoration-none"><i class="ss ss-parl3"></i>Cards  : @Model.CountOfCards</b><br>
                                    <b class="text-decoration-none"><i class="ss ss-pmtg1"></i>Art pieces: @Model.CountOfArts</b><br>
                                </div>
                               
                            }
                            else
                            {
                                <div class="ae-border-bottom-light  pl-2">
                                    <b>Artist : </b>
                                </div>
                                <div class="card-body p-2">
                                    <b class="text-decoration-none"><i class="ss ss-pmtg1"></i>Arts needed : @Model.CountOfArts/@MembershipConstants.MemberToArtistRequiredArts</b><br>
                                </div>
                                <div class="ae-border-bottom-light  pl-2">
                                    <b>Content creator :  </b>
                                </div>
                                <div class="card-body p-2">
                                    <b class="text-decoration-none"><i class="ss ss-pmtg1"></i>Articles needed :@Model.CountOfArticles/@MembershipConstants.RequiredNumberArticles</b><br>
                                    <b class="text-decoration-none"><i class="ss ss-parl3"></i>Events needed : @Model.CountOfEvents/@MembershipConstants.RequiredNumberEvents</b><br>
                                    <b class="text-decoration-none"><i class="ss ss-parl3"></i>Event cards needed : @Model.CountOfCards/@MembershipConstants.RequiredNumberEventCards</b><br>
                                </div>
                            }


                        </div>
                        <div class="card">
                            <div class="ae-border-bottom-light text-gold pl-2">
                                <b>Notifications</b>
                            </div>
                            <div class="card-body p-2">
                                @if (Model.MembershipStatus != null)
                                {
                                    <div class="card-text d-none d-md-flex m-1">@Model.MembershipStatus</div><br>

                                }
                                @if (Model.HasOpenDeck)
                                {
                                    <div class="card-body p-2">
                                        <a asp-controller="Deck" asp-action="Create" class="btn btn-sm btn-light btn-outline-primary format-btn format-select-button mt-1 mt-xl-0 pl-1 pr-1"><b>Update deck</b></a>
                                    </div>
                                }
                                @if (!Model.IsProfileUpToDate)
                                {
                                    <div class="card-body p-2">
                                        <a asp-controller="User" asp-action="SelectAvatar" class="btn btn-sm btn-light btn-outline-primary format-btn format-select-button mt-1 mt-xl-0 pl-1 pr-1"><b>Update your profile</b></a>
                                    </div>
                                }
                                <a asp-controller="User" asp-action="MyData" class="text-decoration-none"><i class="fas fa-trophy"></i> My content</a><br>
                                <a asp-controller="Order" asp-action="My" class="text-decoration-none"><i class="ss ss-pmtg1"></i> My orders</a><br>
                            </div>
                        </div>
                        <div class="card">
                            <div class="ae-border-bottom-light text-gold pl-2">
                                <b>Database</b>
                            </div>
                            <div class="card-body p-2">
                                <a asp-controller="Art" asp-action="All" class="text-decoration-none"><i class="ss ss-pmtg1"></i> Art</a><br>
                                <a asp-controller="PlayCard" asp-action="All" class="text-decoration-none"><i class="ss ss-pmtg1"></i> Game Cards</a><br>
                                <a asp-controller="Wizzarts" asp-action="GetRules" class="text-decoration-none"><i class="ss ss-pmtg1"></i> Game rules</a><br>
                                <a asp-controller="Deck" asp-action="All" class="text-decoration-none"><i class="ss ss-parl3"></i> Card Decks</a><br>
                                <a asp-controller="Event" asp-action="All" class="text-decoration-none"><i class="ss ss-pmtg1"></i>Events</a><br>
                            </div>
                        </div>
                        <div class="card">
                            <div class="ae-border-bottom-light text-gold pl-2">
                                <b>Tools</b>
                            </div>
                            <div class="card-body p-2">
                                <a asp-controller="Art" asp-action="Add" class="text-decoration-none"><i class="fas fa-briefcase"></i> Add art</a><br>
                                <a asp-controller="Event" asp-action="Create" class="text-decoration-none"><i class="ss ss-parl3"></i> Create event</a><br>
                                <a asp-controller="Article" asp-action="Create" class="text-decoration-none"><i class="fas fa-trophy"></i> Create article</a><br>
                                <a asp-controller="Deck" asp-action="Create" class="text-decoration-none"><i class="ss ss-pmtg1"></i> Create deck</a><br>
                                @if (!this.User.IsInRole(GlobalConstants.MemberRoleName))
                                {
                                    <a asp-controller="PlayCard" asp-action="Add" class="text-decoration-none"><i class="fas fa-tools"></i> Create Card</a>

                                    <br>
                                }
                            </div>
                        </div>
                    </div>
                }
                <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Newest Articles</h4>

                <div class="firstfeed-flexbox">
                    @foreach (var article in this.Model.Articles)
                    {
                        <div class="article-card card border-0">
                            <a asp-controller="Article" asp-action="ById" asp-route-id="@article.Id" asp-route-information="@article.GetArticleTitle()" aria-label="article" class="image-wrapper">
                                <img src="@article.ImageUrl" class="article-uimgheader lazy" alt="@article.Title">
                            </a>
                            <div class="card-body pt-0">
                                <small class="yellow-line">
                                    <a asp-controller="User" asp-action="ById" asp-route-id="@article.ArticleCreatorId" asp-route-information="@article.GetWizzartsMemberName()"><i class="far fa-star"></i>@article.ArticleCreatorName</a>
                                    <span>@article.CreatedOn</span>
                                </small>
                                <div class="ff-display font-size-18">
                                    <b><a asp-controller="Article" asp-action="ById" asp-route-id="@article.Id" asp-route-information="@article.GetArticleTitle()">@article.Title</a></b>
                                </div>
                                <div class="card-text d-none d-md-flex m-1">@article.ShortDescription</div>
                            </div>
                        </div>
                    }
                </div>
                <hr />
                <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Random Art</h4>
                <div class="firstfeed-flexbox">
                    @foreach (var art in this.Model.Arts)
                    {
                        <div class="article-card card border-0">
                            <a asp-controller="Art" asp-action="ById" asp-route-id="@art.Id" asp-route-information="@art.GetInformation()" class="image-wrapper">
                                <img width="600" height="300" class="article-uimgheader lazy" src="@art.ImageUrl" alt="@art.Title" style="">
                            </a>

                            <div class="item-footer">
                            </div>
                        </div>

                    }
                </div>
                <hr />
                <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Random Cards</h4>
                <div class="firstfeed-flexbox">
                    @foreach (var card in this.Model.Cards)
                    {
                        <div class="inner-container">
                            <a asp-controller="PlayCard" asp-action="ById" asp-route-id="@card.Id" asp-route-information="@card.GetCardName()" class="item ae-card-link cardLink ">
                                <img width="200" height="300" src="@card.CardRemoteUrl" alt="@card.Name" style="">
                                <div class="item-hidden-text">@card.Name</div>
                            </a>
                            <div class="item-footer">
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-12 col-xl-3 pl-0 pr-0">
        <div class="card mb-2 ">
            <div class="ae-border-bottom-light p-0 text-center ff-display">
                <b><i class="ss ss-bcore"></i>Game Expansions</b>
            </div>
            <div class="card-body p-2">
                <p class="card-text">
                    The MagicCardsmith database contains a full list of <a asp-controller="PlayCard" asp-action="All">all card sets</a> in MTG,ordered by  <a asp-controller="Expansion" asp-action="All">expansions</a>, user created <a asp-controller="Deck" asp-action="All">card decks.</a>
                    @foreach (var gameExpansion in this.Model.GameExpansions)
                    {
                        <a asp-controller="Deck" asp-action="ById" asp-route-id="@gameExpansion.Id" asp-route-information="@gameExpansion.GetExpansionTitle()">The @gameExpansion.Title @gameExpansion.Description.</a>
                    }
                </p>
            </div>
        </div>
        <div class="card mb-2 ">
            <div class="ae-border-bottom-light  p-0 text-center">
                <b><i class="fas fa-users"></i> Our Stores</b>
            </div>
            <div class="card-body p-2">

                @foreach (var store in this.Model.Stores)
                {
                    <p class="card-text">
                        <a asp-controller="Store" asp-action="All">The @store.Name</a> is a @store.Country based store.It is located in the city of @store.City .
                    </p>
                }

            </div>
        </div>
        <div class="card mb-2 ">
            <div class="ae-border-bottom-light  p-0 text-center">
                <b><i class="fas fa-calendar"></i> Events</b>
            </div>
            @foreach (var gameEvent in this.Model.Events)
            {
                <div class="card-body p-2">
                    <p class="card-text">
                        @gameEvent.Title is part of our latest campaign for helping artists and content creators. By completing all of the milestones in  <a asp-controller="Event" asp-action="All">@gameEvent.Title</a> you will help our developement and us as community.
                    </p>
                </div>
            }
        </div>
        @if (this.SignInManager.IsSignedIn(this.User))
        {
            if (this.userService.HasNickName(this.User.GetId()) || User.IsInRole(AdministratorRoleName))
            {
                <div class="card mb-2 ">

                    <div class="ae-border-bottom-light  p-0 text-center">
                        <b><i class="fas fa-users"></i> Chat</b>
                    </div>
                    <div class="chat-box-main">
                        <div class="chat" style="height:627px">

                            <div id="messagesList" class="chat-body">
                                @foreach (var message in Model.ChatMessages)
                                {
                                    <div class="message">
                                        <header style="color:black">@message.Name:</header>
                                        <p style="color:black">@message.Text</p>
                                        <footer style="color:black">@message.Timestamp</footer>
                                    </div>
                                }
                            </div>
                            <div class="row text-center no-gutters mb-3">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="btn-group w-100 flex-wrap">
                                        @foreach (var room in Model.ChatRooms)
                                        {
                                            <a asp-controller="Chat" asp-action="ById" asp-route-id="@room.Id" id="formatId-15" data-id="15" data-format="Other" class="btn btn-sm btn-light btn-outline-primary format-btn format-select-button mt-1 mt-xl-0 pl-1 pr-1"><b>@room.Name</b></a>
                                        }
                                    </div>
                                </div>
                            </div>
                            <hr />

                            <form method="post" onsubmit="sendMessage(event)" id="chatMessage" class="ae-border-bottom-light  p-0 text-center">
                                <div class="input-group ae-card-search">
                                    <input type="text" name="message" id="messageInput"
                                           class="form-control d-print-none ui-autocomplete-input"
                                           placeholder="Send your message >>>>>" aria-label="Search magic cards" />
                                    <div class="input-group-append">
                                        <button type="submit" id="sendButton" class="btn btn-light" aria-label="Search">
                                            <i class="fa-solid fa-pen"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>

                            @*                 <form class="chat-input" onsubmit="sendMessage(event)" asp-controller="Home" asp-action="CreateMessage" asp-route-id="@Model.ChatId">
                    <input type="hidden" name="chatId" value="@Model.ChatId">
                    <input type="text" name="message" id="message-input">
                    <button type="submit">Send</button>
                    </form> *@
                        </div>
                    </div>

                </div>
            }
            else
            {
                <div class="card-body p-2">
                    <div class="ae-border-bottom-light  p-0 text-center">
                        <b><i class="fas fa-users"></i>You need pick a nickname to join chat...</b>
                    </div>
                    <a asp-controller="User" asp-action="SelectAvatar" class="btn btn-sm btn-light btn-outline-primary format-btn format-select-button mt-1 mt-xl-0 pl-1 pr-1"><b>Update your profile</b></a>
                </div>
            }
        }
        @*  <div id="zone18-300x600-card" class="mb-2 pt-1">
        <div>
        <div id="zone18-300x600" class="mx-auto"></div>
        </div>
        </div> *@
    </div>
</div>

<form method="post" id="antiForgeryForm"></form>
@section Scripts {

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/chat.js" asp-append-version="true"></script>

    <script>
        var sendMessage = function (event) {
            event.preventDefault();
            var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
            var text = $('#messageInput').val();
            var data = { userId: 1, text: text, chatId: @Model.ChatId};
            console.log(data);
            document.getElementById('messageInput').value = '';
            $.ajax({
                type: "POST",
                url: "/api/Chat/Post",
                data: JSON.stringify(data),
                headers: {
                    'X-CSRF-TOKEN': antiForgeryToken
                },
                contentType: 'application/json',
            });
        }
    </script>
}
