@model MagicCardsmith.Web.ViewModels.Card.CardListViewModel
@using MagicCardsmith.Web.Infrastructure.Extensions
@{
    this.ViewData["Title"] = "All Cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2">
    <div class="col-md-12">
        <div id="DigitalArt" class="outer-container">
            @foreach (var card in this.Model.Cards)
            {
                <div class="inner-container">
                    <a asp-controller="Card" asp-action="ById" asp-route-id="@card.Id" asp-route-information="@card.GetCardName()" class="item ae-card-link cardLink ">
                        <img class="lazy" src="@card.CardRemoteUrl" alt="@card.Name" style="">
                        <div class="item-hidden-text">@card.Name</div>
                    </a>
                    <div class="item-footer">
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<hr />
<hr />
<partial name="_PagingPartial" model="@Model" />
