@model MagicCardsmith.Web.ViewModels.Card.PremiumCreateCardInputModel
@{
    this.ViewData["Title"] = "Add new play card";
}


@*<div class="text-center row">
    <h1 class="display-4">Welcome to</h1>
    <div class="col-sm-12 col-md-12 pl-0 pr-0">
        <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Newest Articles</h4>
        <div class="firstfeed-flexbox">
            <div class="article-card card border-0">
                <a href="" aria-label="article" class="image-wrapper">
                    <a asp-controller="Article" asp-action="Create" asp-route-id="@Model.Id" class="article-uimgheader">
                        <img src="@Model.ImageUrl" class="article-uimgheader" alt="@Model.Title">
                    </a>
                    <div class="w-100 text-center text-white article-text-tags">
                        <span>Discussion</span>
                        <span>News</span>
                    </div>
                </a>
                <div class="card-body pt-0">
                    <small class="yellow-line">
                        <a href=""><i class="far fa-star"></i>User</a>
                        <span>23 Jul</span>
                    </small>
                    <div class="ff-display font-size-18">
                        <b><a href="">@Model.Title</a></b>
                    </div>
                    <div class="card-text d-none d-md-flex m-1">@Model.Description</div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="container-create">
    <div class="first">

        <table id="html-content-holder" border="0" cellspacing="0" cellpadding="0" style="clear: both;">
            <tbody>
                <tr style="width:100%">

                    <form method="post" enctype="multipart/form-data">
                        <table border="0" cellspacing="1" cellpadding="5" style="width:100%;">
                            <tbody>
                                <tr class="row2">
                                    <td>
                                        <label asp-for="Images">Art:</label>@* ?????????????? *@
                                    </td>
                                    <td>

                                        <select asp-for="ArtId" id="artByArtist" onchange="artByArtistFunc(event);">
                                            <option value="0" selected="true">
                                            </option>
                                            @foreach (var art in Model.ArtByUserId)
                                            {
                                                <option data-container="@art.ImageUrl" value="@art.Id">@art.Title</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr class="row1" id="submitCardImage" hidden>
                                    <td>
                                        <div>
                                            <input asp-for="@Model.Images" type="hidden" id="imageDataEventOne" name="canvasCapture" class="form-control" placeholder="Play Card Image">
                                        </div>
                                    </td>
                                    <span asp-validation-for="@Model.Images" class="small text-danger"></span>
                                </tr>
                                <tr class="row1" id="submitButton" hidden>

                                    <td class="form-group row mb-1">
                                        <div>
                                            <input type="submit" value="Submit" class="btn btn-warning">
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <table id="cardData" border="0" cellspacing="0" cellpadding="2" style="width:100%;">
                            <tbody>
                                <tr class="row1">
                                    <td style="width:30%">
                                        <label asp-for="Name">Name:</label>
                                    </td>
                                    <td>
                                        <input asp-for="Name" name="name" id="name" placeholder="@Model.CardDefaultName" maxlength="20">
                                    </td>
                                </tr>
                                <tr class="row2">
                                    <td>
                                        <label asp-for="CardFrameId">Frame:</label>
                                    </td>
                                    <td>
                                        <select asp-for="CardFrameId" id="color" onchange="frameSelectFunc(event)">
                                            @foreach (var type in Model.SelectFrameColor)
                                            {
                                                <option value="@type.Id">@type.Name</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr class="row1">
                                    <td>
                                        Mana Cost:
                                    </td>
                                    <td>
                                        <table class="manatable" style="border-spacing:0px;font-size:10px;text-align: center;width:50%">
                                            <tbody>
                                                <tr>
                                                    <td><b>Red</b></td>
                                                    <td><b>Blue</b></td>
                                                    <td><b>Green</b></td>
                                                    <td><b>Black</b></td>
                                                    <td><b>White</b></td>
                                                    <td><b>Colorless</b></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select asp-for="RedManaId" id="mana_r" onchange="colorSelectFunc(event)">
                                                            @foreach (var type in Model.RedMana)
                                                            {
                                                                <option value="@type.Id">@type.Cost </option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select asp-for="BlueManaId" id="mana_u" onchange="colorSelectFunc(event)">
                                                            @foreach (var type in Model.BlueMana)
                                                            {
                                                                <option value="@type.Id">@type.Cost</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select asp-for="GreenManaId" id="mana_g" onchange="colorSelectFunc(event)">
                                                            @foreach (var type in Model.GreenMana)
                                                            {
                                                                <option value="@type.Id">@type.Cost</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select asp-for="BlackManaId" id="mana_b" onchange="colorSelectFunc(event)">
                                                            @foreach (var type in Model.BlackMana)
                                                            {
                                                                <option value="@type.Id">@type.Cost</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select asp-for="WhiteManaId" id="mana_w" onchange="colorSelectFunc(event)">

                                                            @foreach (var type in Model.WhiteMana)
                                                            {
                                                                <option value="@type.Id">@type.Cost</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select asp-for="ColorlessManaId" id="mana_colorless" onchange="colorSelectFunc(event)">
                                                            @foreach (var type in Model.ColorlessMana)
                                                            {
                                                                <option value="@type.Id">@type.Cost</option>
                                                            }
                                                        </select>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr class="row1">
                                    <td>
                                        <label asp-for="CardTypeId">Type:</label>
                                    </td>
                                    <td>
                                        <select asp-for="CardTypeId" id="newtype" onchange="cardTypeFunc(event)">
                                            <option value="1" selected="true">
                                            </option>
                                            @foreach (var type in Model.SelectType)
                                            {
                                                <option value="@type.Id">@type.Name</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr class="row2">
                                    <td>
                                        <label asp-for="GameExpansionId">Expansion Symbol:</label>
                                    </td>
                                    <td>
                                        <select asp-for="GameExpansionId" id="expansion" onchange="expansionSymbolFunc(event)">
                                            <option value="1" selected="true">
                                            </option>
                                            @foreach (var type in Model.SelectExpansion)
                                            {
                                                <option value="@type.Id">@type.Title</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr class="row1">
                                    <td>
                                        <label asp-for="AbilitiesAndFlavor">Abilities &amp; Flavor:</label>
                                    </td>
                                    <td>
                                        <textarea asp-for="AbilitiesAndFlavor" id="cardtext" style="height:60px;font-size: 10px" cols="60" rows="10" runat="server" placeholder="@Model.CardDefaultDescription"></textarea>
                                        <br>
                                        <div style="padding:2px;font-size:10px">
                                            <b>Insert:</b>
                                            <a href="#" class="insertSymbol" id="r"><img src="~/images/mana/r.png"></a>
                                            <a href="#" class="insertSymbol" id="u"><img src="~/images/mana/u.png"></a>
                                            <a href="#" class="insertSymbol" id="g"><img src="~/images/mana/g.png"></a>
                                            <a href="#" class="insertSymbol" id="b"><img src="~/images/mana/b.png"></a>
                                            <a href="#" class="insertSymbol" id="w"><img src="~/images/mana/w.png"></a>
                                            <a href="#" class="insertSymbol" id="t"><img src="~/images/mana/t.png"></a>
                                            <a href="#" class="insertSymbol" id="1"><img src="~/images/mana/1.png"></a>
                                            <a href="#" class="insertSymbol" id="2"><img src="~/images/mana/2.png"></a>
                                            <a href="#" class="insertSymbol" id="3"><img src="~/images/mana/3.png"></a>
                                            <a href="#" class="insertSymbol" id="4"><img src="~/images/mana/4.png"></a>
                                            <a href="#" class="insertSymbol" id="5"><img src="~/images/mana/5.png"></a>
                                            <a href="#" class="insertSymbol" id="6"><img src="~/images/mana/6.png"></a>
                                            <a href="#" class="insertSymbol" id="7"><img src="~/images/mana/7.png"></a>
                                            <a href="#" class="insertSymbol" id="8"><img src="~/images/mana/8.png"></a>
                                            <a href="#" class="insertSymbol" id="9"><img src="~/images/mana/9.png"></a>
                                            <br />
                                            <br />
                                            <b>Clear:</b>
                                            <a href="#" class="clearText" id="t"><img src="~/images/mana/t.png"></a>
                                            <br />
                                            <br />
                                            <b>Clear from card:</b>
                                            <a href="#" class="clearTextFromCard" id="t"><img src="~/images/mana/t.png"></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="row1">
                                </tr>
                                <tr class="row2">
                                    <td>Power / Toughness:</td>
                                    <td>
                                        <input asp-for="Power" id="power" size="2" maxlength="2">
                                        <input asp-for="Toughness" id="toughness" size="2" maxlength="2">
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </form>

                    <table border="0" cellspacing="0" cellpadding="2" style="width:100%;" id="cardTools">
                        <tbody>
                            <tr class="row1">
                                <td>
                                    <input name="generate" class="btn btn-warning" id="generate" type="button" value="Preview" style="font-size:16px;min-width:0px">
                                </td>
                            </tr>
                            <tr class="row1">
                                <td>
                                    <div id="screenshot" style="font-size:16px;min-width:0px">
                                        <button class="btn btn-info">Confirm</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>



                </tr>
                <tr id="startOver" class="row1" hidden>

                    <td style="font-size:16px;min-width:0px">
                        <button class="btn btn-info">Start Over Again</button>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>



    <div class="second" id="second">
        <div id="card-container" class="card-container">


            <div class="card-background" id="background" style="background-image: url('@Model.CardFrameDefaultUrl')">
                <div class="card-frame">
                    <div class="frame-header">
                        <div class="name">
                            <p id="cardName">
                                @Model.CardDefaultName
                            </p>
                        </div>
                        <div id="imgHeader" class="card-imageframe">
                        </div>

                    </div>
                    <img class="frame-art" id="imageInput" src="@Model.CardDefaultImage" alt="Nature">

                    <div class="frame-type-line" id="frame-type-line">
                        <h1 class="type" id="cardtype">@Model.CardDefaultType </h1>
                        <div id="symbolHeader">
                            <img src=@Model.CardExpansionSymbolDefaultUrl id=set - icon alt=OGW - icon />
                        </div>
                    </div>
                    <div class="frame-text-box">
                        <div class="description" id="description">
                            @Model.CardDefaultDescription
                        </div>
                    </div>
                </div>
            </div>
            <div class="frame-bottom-info inner-margin">
                <div class="fbi-left">
                </div>
                <div class="fbi-center"></div>
                <div class="fbi-right">
                </div>
            </div>
            <div class="container-power" id="container-power">
                <img id="power-frame" src="~/images/frames/whiteValue.png" alt="Nature">
                <div class="centered-power"></div>
            </div>


        </div>
    </div>
</div>



@section Scripts {

    <script>
        const el = document.getElementById('previewEventTwo');
        if (el) {
            el.addEventListener("click", function () {
                html2canvas(document.getElementById("backgroundTwo")).then(function (canvas) {
                    var anchorTag = document.createElement("a");
                    var dataURL = canvas.toDataURL("image/png", 1.0);
                    dataURL = dataURL.replace('data:image/png;base64,', '');
                    $("#imageData").val(dataURL);
                    document.getElementById("previewEventTwo").hidden = true;
                    document.getElementById("submitEventTwo").hidden = false;
                    document.getElementById("startOver").hidden = false;

                });
            });
        }
    </script>

    <script>
        document.getElementById("screenshot").addEventListener("click", function () {
            html2canvas(document.getElementById("background")).then(function (canvas) {
                var anchorTag = document.createElement("a");
                var dataURL = canvas.toDataURL("image/png", 1.0);
                dataURL = dataURL.replace('data:image/png;base64,', '');
                $("#imageDataEventOne").val(dataURL);
                document.getElementById("submitButton").hidden = false;
                document.getElementById("submitCardImage").hidden = false;
                document.getElementById("cardData").hidden = true;
                document.getElementById("startOver").hidden = false;
                document.getElementById("cardTools").hidden = true;

            });
        });
    </script>

    @*  <script>

        document.getElementById("screenshot").addEventListener("click", function () {
            html2canvas(document.getElementById("background")).then(function (canvas) {
                var anchorTag = document.createElement("a");
                document.body.appendChild(anchorTag);
                document.getElementById("second").innerHTML = '';
                document.getElementById("second").appendChild(canvas);
                var name = document.getElementById("name").value;


                var dataURL = canvas.toDataURL("image/jpg", 1.0);

                downloadImage(dataURL, name + '.jpg');
            });
        });

        function downloadImage(data, filename = 'untitled.jpg') {
            var a = document.createElement('a');
            a.href = data;
            a.download = filename;
            document.body.appendChild(a);
            a.click();

            document.getElementById("submitButton").hidden = false;
            document.getElementById("submitCardImage").hidden = false;
            document.getElementById("cardData").hidden = true;
            document.getElementById("startOver").hidden = false;
            document.getElementById("cardTools").hidden = true;
        } *@


            </script>

    <script type="text/javascript">

        $('#generate').click(function () {


            var cardName = $("#name").val();
            var AbilitiesFlavor = $("#cardtext").val();
            var cardPower = $("#power").val();
            var cardToughness = $("#toughness").val();
            var colorValues = ['{b}', '{g}', '{r}', '{t}', '{r}', '{u}', '{w}', '{1}', '{2}', '{3}', '{4}', '{5}', '{6}', '{7}', '{8}', '{9}']


            for (let i = 0; i < colorValues.length; i++) {
                let currentValue = colorValues[i].split('');

                AbilitiesFlavor = AbilitiesFlavor.replaceAll(colorValues[i], "<img src= /Images/mana/" + currentValue[1] + ".png id=mana - icon />")
            }

            $('#cardName').html('');
            $('.centered-power').html('');
            $('.description').html('');

            $('#cardName').append(cardName);
            $('.centered-power').append(cardPower + "/" + cardToughness);
            $('.description').append(AbilitiesFlavor);


            return false;
        });


    </script>

    <script>
        function cardTypeFunc(e) {

            document.getElementById('cardtype').textContent = '';

            var currentSelection = e.target.id;
            let selectedValue = $("#" + currentSelection + " option:selected").html();

            if (selectedValue) {
                $('#cardtype').append(selectedValue)
            } else {
                return false;
            }
        }
    </script>


    <script type="text/javascript">

        $('.insertSymbol').click(function () {
            $('#cardtext').val($('#cardtext').val() + '{' + $(this).attr('id') + '}');
            return false;
        });


    </script>

    <script>

        $('.insertManaSymbol').click(function () {

            $('#imgHeader').append("<img src= /Images/mana/" + $(this).attr('id') + ".png id=mana - icon /> ")
            return false;
        });


        $('.clearText').click(function () {

            $('#cardtext').val('');
            return false;
        });

        $('.clearTextFromCard').click(function () {

            document.getElementById("description").innerHTML = '';

        });

        $('#startOver').click(function () {

            location.reload();


        });


    </script>
    <script>

        function colorSelectFunc(e) {
            var currentSelection = e.target.id;

            let currentColor = currentSelection.substring(currentSelection.indexOf('_') + 1);
            let selectedValue = $("#" + currentSelection + " option:selected").val();
            console.log(selectedValue)
            if (selectedValue == "1") {

                document.querySelectorAll("#mana-icon-" + currentColor).forEach(e => e.remove());
                document.querySelectorAll("#colorless").forEach(e => e.remove());
            }
            if (currentColor == "colorless") {
                document.querySelectorAll("#colorless").forEach(e => e.remove());
                if (selectedValue != 1) {
                    $('#imgHeader').append("<img src= /Images/mana/" + (selectedValue - 1) + ".png class=mana-icon  id=colorless /> ")
                } else {
                    return false;
                }

            }
            else {
                var count = parseInt(selectedValue - 1, 10);
                for (let i = 0; i < count; i++) {
                    $('#imgHeader').append("<img src= /Images/mana/" + currentColor + ".png class=mana-icon  id= mana-icon-" + currentColor + " /> ")

                }
            }


        }


        function artByArtistFunc(e) {

            document.getElementById('imageInput').src = '';

            var currentSelection = e.target.id;
            let selectedValue = $("#" + currentSelection + " option:selected").data('container');

            if (selectedValue == 0) {
                return false;

            } else {
                document.getElementById('imageInput').src = selectedValue;
            }

        }

        function expansionSymbolFunc(e) {

            document.getElementById('symbolHeader').textContent = '';

            var currentSelection = e.target.id;
            let selectedValue = $("#" + currentSelection + " option:selected").html();

            if (selectedValue == 0) {
                return false;

            } else {
                let currentRarity = $("#rarity" + " option:selected").html();
                $('#symbolHeader').append("<img src= /images/symbols/expansions/" + selectedValue + ".png id=set - icon alt=OGW - icon />")
            }
        }

        //function raritySymbolFunc(e) {
        //    document.getElementById('symbolHeader').textContent = '';

        //    var currentSelection = e.target.id;
        //    let selectedValue = $("#" + currentSelection + " option:selected").val();

        //    let currentExpansion = $("#expansion" + " option:selected").val();
        //    if (currentExpansion) {
        //        $('#symbolHeader').append("<img src= /symbols/various/" + currentExpansion + '_' + selectedValue + ".png id=set - icon alt=OGW - icon />")
        //    } else {
        //        return false;
        //    }
        //}
        function frameSelectFunc(e) {
            var currentSelection = e.target.id;
            let selectedValue = $("#" + currentSelection + " option:selected").html();

            document.getElementById("background").style["background-image"] = "url(" + '/Images/frames/' + selectedValue + ".png" + ")"

            document.getElementById("power-frame").src = "/Images/frames/" + selectedValue + "Value" + ".png";
        }


    </script>
}
