@model Wizzarts.Web.ViewModels.Event.EventListViewModel
@using Wizzarts.Web.Infrastructure.Extensions
@using static Wizzarts.Common.HardCodedConstants

@{
    this.ViewData["Title"] = "Ongoing Events";
    Layout = "~/Views/Shared/_LayoutIdentity.cshtml";
}

<div class="col-md-12 col-lg-12 col-xl-12 pl-0 pr-0 pr-xl-3">
    <div class="row">
        <div class="col-sm-12 col-md-12 pl-0 pr-0">
            <h4 class="text-center mb-2 ae-border-bottom-light text-header-gold">Events</h4>
            <div class="mb-2 firstfeed-flexbox ff-display">

                <div class="firstfeed-flexbox">
                    @foreach (var eventNow in this.Model.Events)
                    {
                        if (eventNow.EventCategoryId == ImagelessType || eventNow.EventCategoryId == FlavorlessType || eventNow.EventCategoryId == ImageType || eventNow.EventCategoryId == TextType)
                        {
                            <div class="article-card card border-0">

                                <a asp-area="Administration" asp-controller="@eventNow.ControllerName" asp-action="@eventNow.ActionName" asp-route-id="@eventNow.Id" class="image-wrapper">
                                    <img src="@eventNow.ImageUrl" class="article-uimgheader" style="width : 366px" alt="@eventNow.Title">
                                </a>
                                <div class="card-body pt-0">
                                    <small class="yellow-line">
                                        <a asp-controller="Wizzarts" asp-action="ById" asp-route-id="@eventNow.Creator">@eventNow.Creator<i class="far fa-star"></i></a>
                                        <span>@eventNow.CreatedOn</span>
                                    </small>
                                    <div class="ff-display font-size-18">
                                        <a asp-area="Administration" asp-controller="@eventNow.ControllerName" asp-action="@eventNow.ActionName" asp-route-id="@eventNow.Id" asp-route-id="@eventNow.Id"><b>@eventNow.Title</b></a>
                                    </div>
                                    <div class="card-text d-none d-md-flex m-1">@eventNow.EventDescription</div>
                                </div>
                                <li class="single-meta">
                                    <a asp-area="Administration" asp-controller="Event" asp-action="Mine" asp-route-id="@eventNow.Id">
                                        <div class="btn btn-danger">Edit</div>
                                    </a>
                                </li>
                            </div>
                        }
                        else
                        {
                            <div class="article-card card border-0">

                                <a asp-area="" asp-controller="@eventNow.ControllerName" asp-action="@eventNow.ActionName" asp-route-id="@eventNow.Id" class="image-wrapper">
                                    <img src="@eventNow.ImageUrl" class="article-uimgheader" style="width : 366px" alt="@eventNow.Title">
                                </a>
                                <div class="card-body pt-0">
                                    <small class="yellow-line">
                                        <a asp-controller="Wizzarts" asp-action="ById" asp-route-id="@eventNow.Creator">@eventNow.Creator<i class="far fa-star"></i></a>
                                        <span>@eventNow.CreatedOn</span>
                                    </small>
                                    <div class="ff-display font-size-18">
                                        <a asp-area="" asp-controller="@eventNow.ControllerName" asp-action="@eventNow.ActionName" asp-route-id="@eventNow.Id" asp-route-id="@eventNow.Id"><b>@eventNow.Title</b></a>
                                    </div>
                                    <div class="card-text d-none d-md-flex m-1">@eventNow.EventDescription</div>
                                </div>
                                <li class="single-meta">
                                    <a asp-area="Administration" asp-controller="Event" asp-action="Mine" asp-route-id="@eventNow.Id">
                                        <div class="btn btn-danger">Edit</div>
                                    </a>
                                </li>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_PagingPartial" model="@Model" />