@using Wizzarts.Common
@model Wizzarts.Web.ViewModels.Event.SingleEventViewModel

@{
    this.ViewData["Title"] = "Event by id";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row pt-2 ae-break-word">
    <div class="col-sm-12 col-md-12 col-lg-12 pl-0 pr-0 pr-lg-3">
        <div class="card p-lg-3">
            <div>
                <div id="zone01-flex" class="mx-auto"><h4 class="text-center mb-2 ae-border-bottom-light text-header-gold">Event information</h4></div>
            </div>
            <article id="article-body">
                <div class="h-oneKpx pl-0 pr-0">
                    <div class="mt-3 mb-3 d-sm-flex justify-content-between align-items-end">
                        <div class="col-12 col-sm-7 col-md-6">
                            <h1 class="ff-display">@Model.Title</h1>
                            <div class="w-100 d-flex justify-content-start mb-1 mt-3">
                            </div>
                            <div class="w-100 d-flex justify-content-start mb-1 mt-3">
                                <div class="yellow-line w-100 mb-0">
@*                                     <img src="https://gravatar.com/avatar/9ef5be673bd91a07ceeab44408c72793.jpg" width="50" height="50" class="rounded-circle">
                                    <a href="/User/Genoslugcs">Genoslugcs</a>
                                    <span class="text-muted">July 6, 2024</span>
                                    <span class="text-muted"><i class="far fa-clock"></i> 4 min</span> *@
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-5 col-md-6">
                            <img class="article-uimgheader-preview" src="@Model.ImageUrl" alt="@Model.Title">
                        </div>
                    </div>
                    <div class="card-text d-none d-md-flex m-1">@Model.EventDescription</div>
                    <div class="col-md-9 col-lg-12 col-xl-12 pl-0 pr-0 pr-xl-1">
                        <div class="card">
                            <div class="card-body">
                                <div class="w-100 span-all mb-5 mt-5">
                                    <h4 class="text-center mb-2 ae-border-bottom-light text-header-gold">Details</h4>
                                    <div id="creatorCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
                                        <div class="carousel-inner">

                                            @for (var i = 0; i < this.Model.EventComponents.Count(); i++)
                                            {
                                                if (i == 0)
                                                {
                                                    <div class="carousel-item active">
                                                        <div class="d-flex flex-row justify-content-center featured-creator-cards">

                                                            <div class="video-card card border-0">
                                                                <div class="yt-img">
                                                                    <a asp-controller="@this.Model.EventComponents.ToList()[i].ControllerName" asp-action="@this.Model.EventComponents.ToList()[i].ActionName" asp-route-id="@this.Model.EventComponents.ToList()[i].Id" >
                                                                        <img src="@this.Model.EventComponents.ToList()[i].ImageUrl" alt="@this.Model.EventComponents.ToList()[i].Title" class="lazy" alt="video" style="">

                                                                    </a>
                                                                </div>
                                                                <div class="article-card card border-0">
                                                                    <div class="card-body pt-0">
                                                                        <div class="ff-display font-size-18">
                                                                            <b>@this.Model.EventComponents.ToList()[i].Description</b>
                                                                        </div>
                                                                        <div class="card-text d-none d-md-flex m-1">@this.Model.EventComponents.ToList()[i].Description</div>
                                                                    </div>
                                                                </div>                                                             
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="carousel-item">
                                                        <div class="d-flex flex-row justify-content-center featured-creator-cards">

                                                            <div class="video-card card border-0">
                                                                <div class="yt-img">
                                                                    <a asp-controller="@this.Model.EventComponents.ToList()[i].ControllerName" asp-action="@this.Model.EventComponents.ToList()[i].ActionName" asp-route-id="@this.Model.EventComponents.ToList()[i].Id">
                                                                        <img src="@this.Model.EventComponents.ToList()[i].ImageUrl" alt="@this.Model.EventComponents.ToList()[i].Title" class="lazy" alt="video" style="">
                                                                    </a>
                                                                </div>
                                                                <div class="article-card card border-0">
                                                                    <div class="card-body pt-0">
                                                                        <div class="ff-display font-size-18">
                                                                            <b>@this.Model.EventComponents.ToList()[i].Title</b>
                                                                        </div>
                                                                        <div class="card-text d-none d-md-flex m-1">@this.Model.EventComponents.ToList()[i].Description</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <a class="carousel-control-prev" href="#creatorCarousel" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#creatorCarousel" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-12">
                    <ul class="entry-meta">
                        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <li class="single-meta">
                                <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.EventId">
                                </form>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                            </li>
                            if(Model.ApprovedByAdmin == false)
                            {
                                <li class="single-meta">
                                    <form asp-area="" asp-controller="Event" method="post" asp-action="ApproveEvent" asp-route-id="@Model.EventId">
                                        <button class="btn btn-danger">Approve</button>
                                    </form>
                                </li>
                            }
                            <li class="single-meta">
                                <a asp-area="" asp-controller="Event" asp-action="Edit" asp-route-id="@Model.EventId">
                                    <div class="btn btn-danger">Edit</div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </article>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Do you want to delete "@Model.Title"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>