@using Wizzarts.Common
@using Wizzarts.Data.Models
@using Microsoft.AspNetCore.Identity
@model Wizzarts.Web.ViewModels.Deck.SingleDeckViewModel
@using Wizzarts.Web.Infrastructure.Extensions
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Deck by id";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row pt-2">
    <div class="col-md-12 col-lg-12 col-xl-9 pl-0 pr-0 pr-xl-1">
        <div class="card h-oneKpx">
            <div class="card-header bg-light pt-0">
                <ul class="nav nav-tabs card-header-tabs">
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) || this.User.Identity.Name == Model.CreatedByMember)
                    {
                        <li class="nav-item">

                            <a asp-controller="Deck" asp-action="Add" asp-route-id="@this.Model.Id" asp-route-information="@this.Model.GetDeckName()" class="metagroup-link ff-display">
                                <span class="btn btn-light font-weight-bold">Edit</span>
                            </a>
                        </li>
                    }
                    @if (this.SignInManager.IsSignedIn(this.User))
                    {
                        <li class="nav-item">
                            <a asp-controller="Deck" asp-action="Create" class="metagroup-link ff-display">
                                <span class="btn btn-light font-weight-bold">New Deck</span>
                            </a>
                        </li>
                    }
                    @if (this.User.Identity.Name == Model.CreatedByMember)
                    {
                        <li class="single-meta">
                            <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
                            </form>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        </li>
                    }
                </ul>
            </div>
            <div class="card-body pt-1">
                <div class="row mt-2">
                    <div class="col-md-12">
                        <div id="cards" class="outer-container">
                            @if (!Model.Cards.Any())
                            {
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="font-weight-bold mt-5" style="max-width: 500px;">
                                        AetherHub has catalogued every Magic: The Gathering card and token into a comprehensive database. <br>Search through the entire Magic history for additions to your deck, detailed information about ruling, format legalities or different prints of a card.
                                    </div>
                                </div>
                            }
                            else
                            {
                                @foreach (var card in this.Model.Cards)
                                {
                                    <div class="inner-container">
                                        <div class="item-hidden-text">@card.Name</div>
                                        <a asp-controller="PlayCard" asp-action="ById" asp-route-id="@card.Id" asp-route-information="@card.GetCardName()" class="item ae-card-link cardLink" data-name="@card.Name" data-number="@card.Id" data-img="@card.CardRemoteUrl">
                                            <img class="lazy" src="@card.CardRemoteUrl" alt="@card.Name" style="">
                                        </a>
                                        <div class="item-footer">
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-3 pl-0 pr-0">
        <div class="card mb-2">
            <div class="w-100 text-center ae-border-bottom-light"><h4>User decks</h4></div>
            <div class="card-body pl-1 pr-1 pt-2 pb-0">
                @foreach (var deck in this.Model.Decks)
                {
                    <div class="metagroup-container">
                        <div class="mr-2 d-none d-lg-block">
                            <a asp-controller="Deck" asp-action="ById" asp-route-id="@deck.Id" asp-route-id="@this.Model.Id" asp-route-information="@deck.GetDeckName()">
                                <div class="meta-cardimg" style="background-image: url('@deck.ImageUrl')"></div>
                            </a>
                        </div>
                        <div>
                            <a asp-controller="Deck" asp-action="ById" asp-route-id="@deck.Id" asp-route-id="@this.Model.Id" asp-route-information="@deck.GetDeckName()" class="metagroup-link">
                                <b class="text-primary">@deck.Name</b>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <hr />
            @if (this.SignInManager.IsSignedIn(this.User))
            {
                <div class="card mb-2 pb-1 text-center ff-display">
                    <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Lock your deck and join the event. Once your deck is at "@Model.DeliveryLocation" store the status of your deck will change to "Delivered"</h4>
                    <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Deck status is : @Model.DeckStatus</h4>
                </div>
                <hr />
                <div class="card mb-2">
                    <div class="w-100 text-center ae-border-bottom-light"><h4>Ship my deck</h4></div>
                    <div class="card-body pl-1 pr-1 pt-2 pb-0">
                        <form asp-controller="Deck" asp-action="Shipping" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
                            <div class="form-group row mb-1">
                                <label class="col-sm-2 col-lg-2 col-form-label" asp-for="StoreId">To</label>
                                <div class="col-sm-8 col-lg-6">
                                    <select asp-for="StoreId" class="form-control" placeholder="Deck status is">
                                        <option value="@Model.StoreId" selected="true">
                                            @Model.DeckStatus
                                        </option>
                                        @foreach (var store in Model.Stores)
                                        {
                                            <option value="@store.Id">@store.Name</option>
                                        }
                                    </select>
                                </div>
                                <span asp-validation-for="StoreId" class="small text-danger"></span>
                            </div>
                            <div class="form-group row mb-1" hidden>
                                <label class="col-sm-2 col-lg-2 col-form-label" asp-for="Name"></label>
                                <div class="col-sm-8 col-lg-6">
                                    <input asp-for="@Model.Name" class="form-control" placeholder="Name">
                                </div>
                                <span asp-validation-for="@Model.Name" class="small text-danger"></span>
                            </div>
                            <div class="form-group row mb-1">
                                <div class="col-sm-8">
                                    <button type="submit" class="btn btn-light">
                                        <span class="fas fa-plus"></span> <b>Update</b>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr />
                <div class="w-100 text-center ae-border-bottom-light">
                    <h4>
                        <a asp-controller="Deck" asp-action="Order" asp-route-id="@this.Model.Id" asp-route-information="@this.Model.GetDeckName()" class="metagroup-link ff-display">
                            <span class="btn btn-light font-weight-bold">Finalize Order</span>
                        </a>
                    </h4>
                </div>
            }
        </div>
    </div>
    <hr />
</div>
<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Do you want to delete "@Model.Name"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
@*

    <div class="col-xl-9 col-12">
    <ul class="entry-meta">
    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
    <form asp-controller="Deck" asp-action="Dispatch" asp-route-id="@Model.Id" method="post" enctype="multipart/form-data">
    <div class="form-group row mb-1">
    <label class="col-sm-2 col-lg-2 col-form-label" asp-for="DeckStatusId">Deck Status</label>
    <div class="col-sm-8 col-lg-6">
    <select asp-for="DeckStatusId" class="form-control" placeholder="Deck status is">
    <option value="@Model.DeckStatusId" selected="true">
    @Model.DeckStatus
    </option>
    @foreach (var status in Model.DeckStatuses)
    {
    <option value="@status.Id">@status.Name</option>
    }
    </select>
    </div>
    <span asp-validation-for="DeckStatusId" class="small text-danger"></span>
    </div>
    <div class="form-group row mb-1">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-8">
    <button type="submit" class="btn btn-light">
    <span class="fas fa-plus"></span> <b>Dispatch</b>
    </button>
    </div>
    </div>
    </form>
    }
    </ul>
    </div> *@
