@model Wizzarts.Web.ViewModels.Deck.CreateDeckViewModel
@{
    this.ViewData["Title"] = "Create deck";
}
<div class="row pt-2">
    <div class="col-md-12 col-lg-9 pr-0 pl-0 pr-lg-2">
        <div class="card mb-2 pb-1 text-center ff-display">
            <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Create your deck. You will automatically join the even. Your deck will be waiting for you at the store. </h4>
            <div class="w-100 text-center ae-border-bottom-light"><h4><a class="metagroup-link ff-display">Event starts on the 1st of July 2024.</a></h4></div>
        </div>
        <div class="card">
            @*             <div class="card-body pt-1 pb-1">
            <div class="d-flex justify-content-right">
            <div>
            <div class="ae-profile-image-container">
            <img src="@Model.AvatarUrl" width="100" height="100" class="rounded-circle">
            </div>
            </div>

            </div>
            </div>
            <br />
            <br />
            <br /> *@
            <div class="card-header bg-light pt-0">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group row mb-1">
                        <label class="col-sm-2 col-lg-2 col-form-label" asp-for="Name"></label>
                        <div class="col-sm-8 col-lg-6">
                            <input asp-for="Name" class="form-control" placeholder="Name">
                        </div>
                        <span asp-validation-for="Name" class="small text-danger"></span>
                    </div>
                    <div class="form-group row mb-1" hidden>
                        <label class="col-sm-2 col-lg-2 col-form-label" asp-for="@Model.EventId"></label>
                        <div class="col-sm-8 col-lg-6">
                            <input asp-for="@Model.EventId" class="form-control">
                        </div>
                        <span asp-validation-for="@Model.EventId" class="small text-danger"></span>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-sm-2 col-lg-2 col-form-label" asp-for="StoreId">Store name</label>
                        <div class="col-sm-8 col-lg-6">
                            <select asp-for="StoreId" class="form-control" placeholder="Art Description">
                                <option value="0" selected="true">
                                </option>
                                @foreach (var store in Model.Stores)
                                {
                                    <option value="@store.Id">@store.Name</option>
                                }
                            </select>
                        </div>
                        <span asp-validation-for="StoreId" class="small text-danger"></span>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-sm-2 col-lg-2 col-form-label" asp-for="Description"></label>
                        <div class="col-sm-8 col-lg-6">
                            <input asp-for="Description" class="form-control" placeholder="Art Description">
                        </div>
                        <span asp-validation-for="Description" class="small text-danger"></span>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-light">
                                <span class="fas fa-plus"></span> <b>Create</b>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="firstfeed-flexbox">
            <div class="w-100 text-center ae-border-bottom-light"><h4><a class="metagroup-link ff-display">Event locations</a></h4></div>
            @foreach (var eComponent in this.Model.EventComponents)
            {
                <div class="article-card card border-0">

                    <img src="@eComponent.ImageUrl" class="article-uimgheader lazy" alt="@eComponent.Title">

                    <div class="card-body pt-0">
                        <small class="yellow-line">
                        </small>
                        <div class="ff-display font-size-18">
                            <b><a href="">@eComponent.Title</a></b>
                        </div>
                        <div class="card-text d-none d-md-flex m-1">@eComponent.Description</div>
                        <p class="card-text">
                            @eComponent.Instructions
                        </p>
                    </div>
                </div>
                @*   <div class="card mt-2 mb-2 ">
            <div class="w-100 d-flex justify-content-start">
            <div class="mr-1">
            <a asp-controller="Event" asp-action="Join" asp-route-id="@eComponent.EventId">
            <div class="article-imgheader-xs lazy uimg" style="background-image: url('@eComponent.ImageUrl')">
            </div>
            </a>
            </div>
            <div>
            <div class="ff-display font-size-18">
            <b><a>@eComponent.Title</a></b>
            </div>
            <p>
            <span class="text-muted">
            @eComponent.Description
            </span>
            <span class="text-muted">
            @eComponent.Instructions
            </span>
            </p>
            </div>
            </div>
            </div> *@
            }
        </div>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-3 pl-0 pr-0">
        <div class="card mb-2">
            <div class="w-100 text-center ae-border-bottom-light"><h4><a class="metagroup-link ff-display">Metagame</a></h4></div>
            <div class="card-body pl-1 pr-1 pt-2 pb-0">
                @foreach (var deck in this.Model.Decks)
                {
                    <div class="metagroup-container">
                        <div class="mr-2 d-none d-lg-block">
                            <a asp-controller="Deck" asp-action="Add" asp-route-id="@deck.Id">
                                <div class="meta-cardimg" style="background-image: url('@deck.ImageUrl')"></div>
                            </a>
                        </div>
                        <div>
                            <a asp-controller="Deck" asp-action="Add" asp-route-id="@deck.Id" class="metagroup-link">
                                <b class="text-primary">@deck.Name</b>
                                <br>

                                <span title="Change since last week" class="diffright d-none d-sm-inline text-danger">
                                    <i class="fas fa-caret-down"></i>4.60%
                                </span>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
        @*      <div class="card mb-2">
        <div class="w-100 text-center ae-border-bottom-light"><h4><a class="metagroup-link ff-display">Event locations</a></h4></div>
        @foreach (var eComponent in this.Model.EventComponents)
        {
        <div class="article-card card border-0">
        <a asp-controller="Event" asp-action="Join" asp-route-id="@eComponent.EventId" aria-label="article" class="image-wrapper">
        <img src="@eComponent.ImageUrl" class="article-uimgheader lazy fbi-center" alt="@eComponent.Title">
        </a>
        <div class="card-body pt-0">
        <small class="yellow-line">
        </small>
        <div class="ff-display font-size-18">
        <b><a href="">@eComponent.Title</a></b>
        </div>
        <div class="card-text d-none d-md-flex m-1">@eComponent.Description</div>
        <p class="card-text">
        @eComponent.Instructions
        </p>
        </div>
        </div>
        <div class="card mt-2 mb-2 ">
        <div class="w-100 d-flex justify-content-start">
        <div class="mr-1">
        <a asp-controller="Event" asp-action="Join" asp-route-id="@eComponent.EventId">
        <div class="article-imgheader-xs lazy uimg" style="background-image: url('@eComponent.ImageUrl')">
        </div>
        </a>
        </div>
        <div>
        <div class="ff-display font-size-18">
        <b><a>@eComponent.Title</a></b>
        </div>
        <p>
        <span class="text-muted">
        @eComponent.Description
        </span>
        <span class="text-muted">
        @eComponent.Instructions
        </span>
        </p>
        </div>
        </div>
        </div>
        }
        </div> *@
    </div>
    @* <div class="col-md-12 col-lg-3 pr-0 pl-0">
    <div class="card mb-2">

    <div class="card-body pt-1 pb-1">
    <div class="d-flex justify-content-center">
    <div>
    @foreach (var avatar in Model.DeckLogos)
    {
    <div class="card-body pt-1 pb-1">
    <div class="d-flex justify-content-center">
    <div>
    <a asp-controller="Deck" asp-action="Update" asp-route-id="@avatar.Id" class="ae-profile-image-container">
    <img src="@avatar.ImageUrl" width="80" height="80" class="rounded-circle" alt="ChrisCee">
    </a>
    </div>
    </div>

    </div>

    }
    </div>
    </div>
    </div>
    </div>
    </div> *@
</div>