@model MagicCardsmith.Web.Areas.Administration.Models.Users.UserServiceListModel
@using MagicCardsmith.Common
@{
    this.ViewData["Title"] = "All Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
        <h2 class="ml-4 text-center ae-border-bottom-light text-header-gold"><i class="far fa-star"></i> Content Creator Program</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 pl-0 pr-0">
        <div class="row">
            @foreach (var user in this.Model.Artists)
            {

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-2">

                    <div class="card h-100">
                        <div class="card-header p-0 text-center">
                            <a asp-action="ById" asp-route-id="@user.Id">
                                <b>
                                    @user.Nickname
                                </b>
                            </a>
                        </div>
                        <div class="card-body p-0">
                            <div class="w-100 d-flex justify-content-start text-center">
                                <div>
                                    <div class="ae-profile-image-container mt-1" title="Image ©Brothers in Arms">
                                        <a asp-action="ById" asp-route-id="@user.Id">
                                            <img src="@user.AvatarUrl" alt="Copyright Brothers in Arms" class="ae-profile-image-card">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="w-100 d-flex justify-content-center">
            <partial name="_PagingPartial" model="@Model" />
        </div>
    </div>
</div>
