@using MagicCardsmith.Common
@model MagicCardsmith.Web.ViewModels.Art.SingleArtViewModel
@{
    this.ViewData["Title"] = Model.Title;
}

<div class="col-sm-12 col-lg-8 pl-0 pr-0 pr-lg-2 h-oneKpx">
    <div class="card">
        <div class="card-header bg-light pt-0">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a href="/Card" class="nav-link ">
                        <span class="fas fa-search" title="Advanced Search"></span> <b>Advanced Search</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Card/Set" class="nav-link ">
                        <span class="ss ss-xmods" title="Browse by Set"></span> <b>All Art pieces</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Search" asp-action="All" asp-route-id="@Model.ArtistId" class="nav-link ">
                        <b><i class="ss ss-pip"></i>By @Model.ArtistName</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a role="link" aria-disabled="true" class="nav-link active">
                        <b>Art details</b>
                    </a>
                </li>
              
            </ul>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 pl-0 pr-0">
                    <div id="cardInfo" class="row mb-4">
                        <div class="col-sm-12 col-md-6 cardModal">
                            <a class="" data-toggle="modal" data-target="#imageModal">
                            <div class="card-image-front text-center"><img id="previewCardModal" class="card-image" src="@Model.ImageUrl" alt="Card" onerror="this.onerror=null;this.src='@Model.ImageUrl';"></div>
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6 mt-3 mt-md-0">
                            <h2>@Model.Title</h2> <span class="pull-right"><i class="ms ms-4 ms-cost ms-shadow"></i><i class="ms ms-b ms-cost ms-shadow"></i><i class="ms ms-g ms-cost ms-shadow"></i></span>
                            <p>@Model.Description</p>
                            <hr>
                            <p>@Model.ArtistBio</p>
                            <p><i></i></p>
                            <hr>
                            <table>
                                <tbody>
                                    <tr>
                                        <td valign="top">
                                            <i class="ss ss-2x ss-fw ss-pip ss-rare"></i>
                                        </td>
                                        <td>&nbsp;</td>
                                        <td>
                                            <a href="/Card/Set/PIP">Fallout (PIP)</a>
                                            <br>
                                            <small>
                                                <span>#91, </span>
                                                Rare
                                            </small>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr>
                            <p>
                                <i>Illustrated by: @Model.ArtistName</i><br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-12">
                <ul class="entry-meta">
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <li class="single-meta">
                            <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
                            </form>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="imageModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Model.Title</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span class="fas fa-times text-dark"></span>
                </button>
            </div>
            <div class="modal-body ui-front d-flex flex-row justify-content-center">
                <div>
                    <div class="ae-img-byid"><img id="previewCardModal" class="ae-img-byid" src="@Model.ImageUrl" alt="Card" onerror="this.onerror=null;this.src='@Model.ImageUrl';"></div>
                </div>
                <ul id="ui-id-1" tabindex="0"
                    class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" unselectable="on"
                    style="display: none;"></ul>
            </div>
            <div class="modal-footer mt-0">
                <div class="text-right">
                    <button type="button" class="btn btn-light" data-dismiss="modal">
                        <i class="fas fa-times"></i> <b>Close</b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Do you want to delete "@Model.Title"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>