@using MagicCardsmith.Common;
@model MagicCardsmith.Web.ViewModels.Event.SingleEventViewModel
@{
    this.ViewData["Title"] = "Event Milestones";
}

<div class="col-sm-12 col-md-12 pl-0 pr-0">
    <div class="card p-lg-3">
        <div>
            <div id="zone01-flex" class="mx-auto"></div>
        </div>
        <article id="article-body">
            <div class="h-oneKpx pl-0 pr-0">
                <div class="mt-3 mb-3 d-sm-flex justify-content-between align-items-end">
                    <div class="col-12 col-sm-7 col-md-6">
                        <h1 class="ff-display">@Model.Title</h1>
                        <div class="w-100 d-flex justify-content-start mb-1 mt-3">
                            <div class="card-text d-none d-md-flex m-1">@Model.EventDescription</div>
                        </div>

                    </div>
                    <div class="col-12 col-sm-5 col-md-6">
                        <img class="article-uimgheader-preview" src="@Model.ImageUrl" alt="@Model.Title">
                    </div>
                </div>
                @if (Model.EventId == 4)
                {
                    <div class="col-sm-12 col-md-12 pl-0 pr-0">
                        <div class="row">

                            <div class="col-sm-12 col-md-12 pl-0 pr-0">
                                <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Events</h4>

                                <div class="firstfeed-flexbox-events">
                                    @foreach (var card in this.Model.EventCards)
                                    {
                                        <div class="inner-container">
                                            <a asp-controller="Card" asp-action="ById" asp-route-id="@card.Id"  class="item ae-card-link cardLink ">
                                                <img class="lazy" src="@card.ImageUrl" alt="@card.Name" style="">
                                                <div class="item-hidden-text">@card.Name</div>
                                            </a>
                                            <div class="item-footer">
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.EventId == 3)
                {
                    <div class="col-md-12 col-lg-8 pl-0 pr-0 order-1 order-lg-1">
                        <div class="card" s="">
                            <div class="card-body pt-2 pb-1">
                                <form method="post" asp-action="CreateStore" enctype="multipart/form-data">
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-2 col-lg-2 col-form-label" asp-for="StoreName"></label>
                                        <div class="col-sm-8 col-lg-6">
                                            <input asp-for="StoreName" class="form-control" placeholder="Store Name">
                                        </div>
                                        <span asp-validation-for="StoreName" class="small text-danger"></span>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-2 col-lg-2 col-form-label" asp-for="StorePhoneNumber"></label>
                                        <div class="col-sm-8 col-lg-6">
                                            <input asp-for="StorePhoneNumber" class="form-control" placeholder="Store Phone Number">
                                        </div>
                                        <span asp-validation-for="StorePhoneNumber" class="small text-danger"></span>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-2 col-lg-2 col-form-label" asp-for="StoreAddress"></label>
                                        <div class="col-sm-8 col-lg-6">
                                            <input asp-for="StoreAddress" class="form-control" placeholder="Store Address">
                                        </div>
                                        <span asp-validation-for="StoreAddress" class="small text-danger"></span>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-2 col-lg-2 col-form-label" asp-for="StoreCity"></label>
                                        <div class="col-sm-8 col-lg-6">
                                            <input asp-for="StoreCity" class="form-control" placeholder="City">
                                        </div>
                                        <span asp-validation-for="StoreCity" class="small text-danger"></span>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-2 col-lg-2 col-form-label" asp-for="StoreCountry"></label>
                                        <div class="col-sm-8 col-lg-6">
                                            <input asp-for="StoreCountry" class="form-control" placeholder="Country">
                                        </div>
                                        <span asp-validation-for="StoreCountry" class="small text-danger"></span>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-2 col-lg-2 col-form-label" asp-for="StoreImage"></label>
                                        <div class="col-sm-8 col-lg-6">
                                            <input asp-for="StoreImage" class="form-control" placeholder="Image of your store">
                                        </div>
                                        <span asp-validation-for="StoreImage" class="small text-danger"></span>
                                    </div>
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-2 col-form-label"></label>
                                        <div class="col-sm-8">
                                            <button type="submit" class="btn btn-light">
                                                <span class="fas fa-plus"></span> <b>Add your store</b>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.EventId != 3 && Model.EventId != 4)
                {
                    <div class="col-sm-12 col-md-12 pl-0 pr-0">
                        <div class="row">

                            <div class="col-sm-12 col-md-12 pl-0 pr-0">
                                <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Events</h4>

                                <div class="firstfeed-flexbox-events">
                                    @foreach (var milestone in this.Model.EventMilestones)
                                    {
                                        <div class="inner-container">
                                            <a asp-controller="Card" asp-action="Create" asp-route-id="@milestone.Id" class="item ae-card-link cardLink ">
                                                <img class="lazy" src="@milestone.ImageUrl" alt="@milestone.Description" style="">
                                                <div class="">@milestone.Description</div>
                                            </a>
                                            <div class="item-footer">
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <hr />
            <hr />
            <div class="col-xl-9 col-12">
                <ul class="entry-meta">
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <li class="single-meta">
                            <a asp-controller="Event" asp-action="Edit" asp-route-id="@Model.EventId" class="btn btn-secondary">Edit</a>
                        </li>
                        <li class="single-meta">
                            <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.EventId">
                            </form>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        </li>
                        <li class="single-meta">
                            <form asp-controller="Event" method="post" asp-action="ApproveEvent" asp-route-id="@Model.EventId">
                            </form>
                            <button class="btn btn-danger">Approve</button>
                        </li>
                    }
                </ul>
            </div>
        </article>
    </div>
</div>
