@using MagicCardsmith.Common;
@model MagicCardsmith.Web.ViewModels.Event.SingleEventViewModel
@{
    this.ViewData["Title"] = "Event Milestones";
}

<div class="col-sm-12 col-md-12 col-lg-8 pl-0 pr-0 pr-lg-3">
    <div class="card p-lg-3">
        <div>
            <div id="zone01-flex" class="mx-auto"></div>
        </div>
        <article id="article-body">
            <div class="h-oneKpx pl-0 pr-0">
                <div class="mt-3 mb-3 d-sm-flex justify-content-between align-items-end">
                    <div class="col-12 col-sm-7 col-md-6">
                        <h1 class="ff-display">@Model.Title</h1>
                        <div class="w-100 d-flex justify-content-start mb-1 mt-3">

                        </div>

                    </div>
                    <div class="col-12 col-sm-5 col-md-6">
                        <img class="article-uimgheader-preview" src="@Model.ImageUrl" alt="@Model.Title">
                    </div>
                </div>



                <div class="row mt-2 mb-2">
                    <div id="article-text" class="col-md-12">
                        <div class="card-text d-none d-md-flex m-1">@Model.EventDescription</div>
                        <div class="col-sm-12 col-md-12 col-lg-4 pl-0 pr-0 mt-2 mt-lg-0">
                            @foreach (var milestone in this.Model.EventMilestones)
                            {
                                <div class="card mt-2 mr-2 mb-2">
                                    <div class="w-100 d-flex justify-content-start">
                                        <div class="mr-1">
                                            <a asp-controller="Card" asp-action="Create" asp-route-id="@milestone.Id">
                                                <div class="article-imgheader-xs lazy uimg" style="background-image: url(@milestone.ImageUrl);">
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <p class="card-text m-1">@milestone.Description</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </article>    
    </div>
</div>
