@model Wizzarts.Web.ViewModels.PlayCard.CardListViewModel
@{
    this.ViewData["Title"] = "All play cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pt-2">
    <div class="col-md-12 col-lg-12 col-xl-9 pl-0 pr-0 pr-xl-1">
        <div class="card">
            <div class="card-body">
                <div class="w-100 span-all mb-5 mt-5">

                    @if (this.Model.Cards.Any())
                    {
                        <h4 class="text-center mb-2 ae-border-bottom-light text-header-gold">Event cards</h4>
                        <div id="creatorCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
                            <div class="carousel-inner">
                                @for (var i = 0; i < this.Model.Cards.Where(x => x.ApprovedByAdmin == true).Count(); i++)
                                {
                                    if (i == 0)
                                    {
                                        <div class="carousel-item active">
                                            <div class="d-flex flex-row justify-content-center featured-creator-cards">

                                                <div class="video-card card border-0">
                                                    <div class="yt-img">
                                                        <a asp-controller="PlayCard" asp-action="ById" asp-route-id="@this.Model.Cards.ToList()[i].Id">
                                                            <img src="@this.Model.Cards.ToList()[i].CardRemoteUrl" alt="@this.Model.Cards.ToList()[i].Name" class="lazy" alt="video" style="">
                                                            <h5>First slide label</h5>
                                                            <p>Some representative placeholder content for the first slide.</p>
                                                        </a>
                                                    </div>
                                                    <div class="card-body p-0">
                                                        <small class="text-center mb-1 text-muted">
                                                            01 Jul by <a href="/User/ReikoBoy"><i class="far fa-star"></i>ReikoBoy</a>
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="carousel-item">
                                            <div class="d-flex flex-row justify-content-center featured-creator-cards">

                                                <div class="video-card card border-0">
                                                    <div class="yt-img">
                                                        <a asp-controller="PlayCard" asp-action="ById" asp-route-id="@this.Model.Cards.ToList()[i].Id">
                                                            <img src="@this.Model.Cards.ToList()[i].CardRemoteUrl" alt="@this.Model.Cards.ToList()[i].Name" class="lazy" alt="video" style="">
                                                            <h5>First slide label</h5>
                                                            <p>Some representative placeholder content for the first slide.</p>
                                                        </a>
                                                    </div>
                                                    <div class="card-body p-0">
                                                        <small class="text-center mb-1 text-muted">
                                                            01 Jul by <a href="/User/ReikoBoy"><i class="far fa-star"></i>ReikoBoy</a>
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <a class="carousel-control-prev" href="#creatorCarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#creatorCarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-7">
                            <h2 class="ml-4 text-center ae-border-bottom-light text-header-gold"><i class="far fa-star"></i> Currently there aren't any new event cards created.Be to first to add one. Click below to participate in one of the events.</h2>
                            <a class="pl-5 pt-1 pb-2 nav-link" asp-area="" asp-controller="Event" asp-action="ById" asp-route-id="1"><i class="fa fa-picture-o" aria-hidden="true"></i> <b>Flavorless cards</b></a>
                            <a class="pl-5 pt-1 pb-2 nav-link" asp-area="" asp-controller="Event" asp-action="ById" asp-route-id="2"><i class="fa fa-picture-o" aria-hidden="true"></i> <b>Call to arts</b></a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-3 pl-0 pr-0">
        <div class="card mb-2">
            <div class="w-100 text-center ae-border-bottom-light"><h4><a href="/Metagame/Standard-BO1/" class="metagroup-link ff-display">Metagame</a></h4></div>
            <div class="card-body pl-1 pr-1 pt-2 pb-0">
                <div class="metagroup-container">
                    <div class="mr-2 d-none d-lg-block">
                        <a href="/Metagame/Standard-BO1/Deck/mono-red-1065929">
                            <div class="meta-cardimg" style="background-image: url(&quot;https://aetherhub.b-cdn.net/images/cards/mtg-MID/Play%20with%20Fire.154.jpg&quot;);"></div>
                        </a>
                    </div>
                    <div>
                        <a class="metagroup-link" href="/Metagame/Standard-BO1/Deck/mono-red-1065929">
                            <b class="text-primary">Mono Red Wins</b>
                            <br>
                            8.87% of meta
                            <span title="Change since last week" class="diffright d-none d-sm-inline text-danger">
                                <i class="fas fa-caret-down"></i>4.60%
                            </span>
                        </a>
                    </div>
                </div>
                <div class="metagroup-container">
                    <div class="mr-2 d-none d-lg-block">
                        <a href="/Metagame/Standard-BO1/Deck/mono-blue-1064045">
                            <div class="meta-cardimg" style="background-image: url(&quot;https://aetherhub.b-cdn.net/images/cards/mtg-MID/Fading%20Hope.51.jpg&quot;);"></div>
                        </a>
                    </div>
                    <div>
                        <a class="metagroup-link" href="/Metagame/Standard-BO1/Deck/mono-blue-1064045">
                            <b class="text-primary">Mono Blue Tempo</b>
                            <br>
                            1.54% of meta
                            <span title="Change since last week" class="diffright d-none d-sm-inline text-success">
                                <i class="fas fa-caret-up"></i>0.34%
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="ff-display">Articles</h3>
        <div class="card mt-2 mb-2 ">
            <div class="w-100 d-flex justify-content-start">
                <div class="mr-1">
                    <a href="/Article/Magic-The-Gathering-Foundations---Set-Info--Spoilers">
                        <div class="article-imgheader-xs lazy uimg" style="background-image: url(&quot;https://aetherhub.b-cdn.net/articles/10830_screen%20shot%202024-06-28%20at%2010.50.34%20pm.png&quot;);">
                        </div>
                    </a>
                </div>
                <div>
                    <div class="ff-display font-size-18">
                        <b><a href="/Article/Magic-The-Gathering-Foundations---Set-Info--Spoilers">Magic: The Gathering Foundations - Set Info &amp; Spoilers</a></b>
                    </div>
                    <p>
                        <span class="text-muted">
                            29.Jun
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />


@section Scripts {
    <script>
        $(document).ready(function () {
            $(function () {
                $('#creatorCarousel .lazy').lazy({
                    appendScroll: $('#lazy-container')
                });
            });
        });
    </script>

}
