@using Wizzarts.Common
@using Wizzarts.Web.Infrastructure.Extensions
@model Wizzarts.Web.ViewModels.PlayCard.SingleCardViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<div class="row pt-2">
    <div class="col-md-12 col-lg-12 col-xl-9 pl-0 pr-0 pr-xl-1">
        <div class="card">
            <div class="card-body">
                <div class="w-100 span-all mb-5 mt-5">
                    <h4 class="text-center mb-2 ae-border-bottom-light text-header-gold">@Model.Name</h4>
                    <div id="cardInfo" class="row mb-4">
                        <div class="col-sm-12 col-md-6 cardModal">
                            <a class="" data-toggle="modal" data-target="#imageModal">
                                <div class="card-image-front text-center"><img id="previewCardModal" class="card-image" src="@Model.CardRemoteUrl" alt="Card" onerror="this.onerror=null;this.src='@Model.CardRemoteUrl';"></div>
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6 mt-3 mt-md-0">
                            <h2>@Model.CardType</h2> @* <span class="pull-right"><i class="ms ms-4 ms-cost ms-shadow"></i><i class="ms ms-b ms-cost ms-shadow"></i><i class="ms ms-g ms-cost ms-shadow"></i></span> *@
                            <p>@Model.AbilitiesAndFlavor</p>
                            <p>Expansion : @Model.CardExpansion</p>
                            <hr>
                            <div class="col-xl-9 col-12">
                                <ul class="entry-meta">
                                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                    {
                                        if (!@Model.ApprovedByAdmin)
                                        {
                                            <li class="single-meta">
                                                <form asp-controller="PlayCard" method="post" asp-action="ApproveCard" asp-route-id="@Model.Id">
                                                    <button class="btn btn-light font-weight-bold">Approve</button>
                                                </form>
                                            </li>
                                        }
                                        @if (@Model.CardExpansion =="Beta")
                                        {
                                            <li class="single-meta">
                                                <form asp-controller="PlayCard" method="post" asp-action="Promote" asp-route-id="@Model.Id">
                                                    <button class="btn btn-light font-weight-bold">Promote</button>
                                                </form>
                                            </li>
                                        }
                                    }
                                    @if (this.User.Identity.Name == Model.AddedByMember || this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                    {
                                        <li class="single-meta">
                                            <form method="post" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
                                            </form>
                                            <button class="btn btn-light font-weight-bold" data-toggle="modal" data-target="#deleteModal">Delete</button>
                                        </li>
                                    }            
                                    @if (this.User.IsArtist() || this.User.IsPremiumUser() || this.User.IsAdmin())
                                    {
                                        <li class="single-meta">
                                            <a class="btn btn-light font-weight-bold" data-toggle="modal" data-target="#attackUserModal">
                                                <i class="fa-solid fa-skull-crossbones"></i>
                                                Comment
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <div class="card-body">
                                            <div class="w-100 text-center">
                                                <h4><a asp-controller="Wizzarts" method="post" asp-action="Membership" rel="nofollow">Get premium</a> to comment</h4>
                                            </div>
                                        </div>
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-2 border-0">
            <div class="card-header bg-light p-0 text-center">
                <b>Wizzarts team comment</b>
            </div>
            <div class="card-body">
                <div id="commentMessage" class="alert alert-danger" role="alert"></div>
                <div id="comments" data-id="10829" data-type="article">
                    <div class="card mb-2">
                        @foreach (var comment in this.Model.Comments.Where(x => x.IsAdminComment == true))
                        {
                            <div class="card-body">
                                <small class="yellow-line">
                                    <a href=""><i class="far fa-star"></i>@comment.Title</a>
                                </small>
                                <div class="ff-display font-size-18">
                                    <b><a href="">@comment.Review</a></b>
                                </div>
                                <div class="card-text d-none d-md-flex m-1">@comment.Suggestions</div>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-2 border-0">
            <div class="card-header bg-light p-0 text-center">
                <b>Comments:</b>
            </div>
            <div class="card-body">
                <div id="commentMessage" class="alert alert-danger" role="alert"></div>
                <div id="comments" data-id="10829" data-type="article">
                    @foreach (var comment in this.Model.Comments.Where(x => x.IsAdminComment == false))
                    {
                        <div class="card-header pt-0 pb-0 pr-0">
                            <a asp-controller="User" asp-action="ById" asp-route-id="@comment.PostedByUserId" asp-route-information="@comment.GetWizzartsMemberName()"><b>@comment.Nickname</b></a> <time class="timeago text-muted" datetime="2024-07-02 01:47:43Z" title="02 Jul 2024 01:47">a day ago</time>
                        </div>
                        <div class="card-body">
                            @comment.Review
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 col-xl-3 pl-0 pr-0">
        <div class="card mb-2">
            <div class="w-100 text-center ae-border-bottom-light"><h4><a class="metagroup-link ff-display">Events</a></h4></div>
            <div class="card-body pl-1 pr-1 pt-2 pb-0">
                @foreach (var events in this.Model.Events)
                {
                    <div class="metagroup-container">
                        <div class="mr-2 d-none d-lg-block">
                            <a asp-controller="Event" asp-action="ById" asp-route-id="@events.Id" asp-route-information="@events.GetEventTitle()" class="image-wrapper">
                                <div class="meta-cardimg" style="background-image: url('@events.ImageUrl')"></div>
                            </a>
                        </div>
                        <div>
                            <a asp-controller="Event" asp-action="ById" asp-route-id="@events.Id" asp-route-information="@events.GetEventTitle()" class="image-wrapper">
                                <b class="text-primary">@events.Title</b>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="card mb-2">
            <div class="w-100 text-center ae-border-bottom-light"><h4><a class="metagroup-link ff-display">Articles</a></h4></div>
            @foreach (var article in this.Model.Articles)
            {
                <div class="card mt-2 mb-2 ">
                    <div class="w-100 d-flex justify-content-start">
                        <div class="mr-1">
                            <a asp-controller="Article" asp-action="ById" asp-route-id="@article.Id" asp-route-information="@article.GetArticleTitle()" class="image-wrapper">
                                <div class="article-imgheader-xs lazy uimg" style="background-image: url('@article.ImageUrl')">
                                </div>
                            </a>
                        </div>
                        <div>
                            <div class="ff-display font-size-18">
                                <b> <a asp-controller="Article" asp-action="ById" asp-route-id="@article.Id" asp-route-information="@article.GetArticleTitle()" class="image-wrapper">@article.Title</a></b>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<hr />

<div id="attackUserModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Search </h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span class="fas fa-times text-dark"></span>
                </button>
            </div>
            <div class="modal-body ui-front d-flex flex-row justify-content-center">
                <div>
                    <form asp-controller="PlayCard" asp-action="Comment" asp-route-id="@Model.Id" method="post">
                        <div class="card-body">
                            <textarea asp-for="@Model.Name" id="titleText" placeholder="Title" class="form-control" rows="3" maxlength="500"></textarea>
                            <span asp-validation-for="@Model.Name" class="small text-danger"></span>
                            <hr>
                            <textarea asp-for="@Model.AbilitiesAndFlavor" id="descriptionText" placeholder="Card Description" class="form-control" rows="3" maxlength="500"></textarea>
                            <span asp-validation-for="@Model.AbilitiesAndFlavor" class="small text-danger"></span>
                            <hr>
                            <textarea asp-for="@Model.CommentReview" id="reviewText" placeholder="Review" class="form-control" rows="3" maxlength="500"></textarea>
                            <span asp-validation-for="@Model.CommentReview" class="small text-danger"></span>
                            <hr>
                            <textarea asp-for="@Model.CommentSuggestions" id="suggestionText" placeholder="Type a suggestion" class="form-control" rows="3" maxlength="500"></textarea>
                            <div class="text-center"><button id="btnComment" data-type="deck" class="btn btn-light mt-1"><b>Post</b></button></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer mt-0">
                <div class="text-right">
                    <button type="button" class="btn btn-light" data-dismiss="modal">
                        <i class="fas fa-times"></i> <b>Close</b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="imageModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Model.Name</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span class="fas fa-times text-dark"></span>
                </button>
            </div>
            <div class="modal-body ui-front d-flex flex-row justify-content-center">
                <div>
                    <div class="ae-img-byid"><img id="previewCardModal" width="800" height="700" class="ae-img-byid" src="@Model.CardRemoteUrl" alt="Card" onerror="this.onerror=null;this.src='@Model.CardRemoteUrl';"></div>
                </div>
                <ul id="ui-id-1" tabindex="0"
                    class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" unselectable="on"
                    style="display: none;"></ul>
            </div>
            <div class="modal-footer mt-0">
                <div class="text-right">
                    <button type="button" class="btn btn-light" data-dismiss="modal">
                        <i class="fas fa-times"></i> <b>Close</b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Do you want to delete "@Model.Name"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
