

@{
	this.ViewData["Title"] = Model.Name;
}

<div class="text-center row">
    <h1 class="display-4">Welcome to</h1>
    <div class="col-sm-12 col-md-12 pl-0 pr-0">
        <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Newest Articles</h4>
        <div class="firstfeed-flexbox">         
                <div class="article-card card border-0">
                    <a href="" aria-label="article" class="image-wrapper">
                        <a asp-controller="Card" asp-action="ById" asp-route-id="@Model.ArtId" class="article-uimgheader">
                            <img src="@Model.ArtId" class="article-uimgheader" alt="@Model.Name">
                        </a>
                        <div class="w-100 text-center text-white article-text-tags">
                            <span>Discussion</span>
                            <span>News</span>
                        </div>
                    </a>
                    <div class="card-body pt-0">
                        <small class="yellow-line">
                            <a href=""><i class="far fa-star"></i>User</a>
                            <span>23 Jul</span>
                        </small>
                        <div class="ff-display font-size-18">
                            <b><a href="">@Model.Name</a></b>
                        </div>
                        <div class="card-text d-none d-md-flex m-1">@Model.Description</div>
                    </div>
                </div>            
        </div>
    </div>
