@model MagicCardsmith.Web.ViewModels.SearchCard.CardSearchResultViewModel

@{
    ViewData["Title"] = "Search result";
}

<h1>@ViewData["Title"]</h1>

@if (!Model.SearchedCards.Any())
{
    <p>Nothing found.</p>
}
else
{
    <div class="row">
        @foreach (var card in this.Model.SearchedCards)
        {
            <div class="card col-md-3">
                <img class="card-img-top" src="@card.ImageUrl" alt="@card.Name">
                <div class="card-body">
                    <h5 class="card-title">@card.Name</h5>
                    <p class="card-text">@card.CardTypeId</p>
                    <a asp-controller="Card" asp-action="ById" asp-route-id="@card.Id" class="btn btn-primary">Go to card</a>
                </div>
            </div>
        }
    </div>
}