@model MagicCardsmith.Web.ViewModels.SearchCard.CardSearchResultViewModel
@{
    ViewData["Title"] = "Advanced Search";
}

<div class="col-md-12 col-lg-12 pl-0 pr-0">
    <div class="card h-oneKpx">
        <div class="card-body pt-1">
@*             <form asp-controller="Search" asp-action="Search" method="get" id="searchform" class="form-horizontal">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mt-1">
                        <div class="input-group">
                            <input type="text" id="searchCards" name="CardName"
                                   class="form-control d-print-none ui-autocomplete-input"
                                   placeholder="Search magic cards" aria-label="Search magic cards"
                                   autocomplete="off">
                            <div class="input-group-append">
                                <button type="button" id="reset-searchCards" class="btn btn-sm btn-light margin-right">
                                    <span class="fas fa-times"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mt-1">
                        <div class="input-group">
                            <input id="adv-CardType" type="text" name="type" class="form-control btn-outline-dark" placeholder="Card type line">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-outline-dark dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item ae-btn-type" href="#" data-type="artifact">Artifact</a>
                                    <a class="dropdown-item ae-btn-type" href="#" data-type="creature">Creature</a>
                                    <a class="dropdown-item ae-btn-type" href="#" data-type="enchantment">Enchantment</a>
                                    <a class="dropdown-item ae-btn-type" href="#" data-type="instant">Instant</a>
                                    <a class="dropdown-item ae-btn-type" href="#" data-type="land">Land</a>
                                    <a class="dropdown-item ae-btn-type" href="#" data-type="sorcery">Sorcery</a>

                                </div>
                            </div>
                            <div class="input-group-append">
                                <button type="button" id="reset-adv-CardType" class="btn btn-sm btn-light margin-right">
                                    <span class="fas fa-times"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mt-1">
                        <div class="input-group">
                            <input id="adv-ArtistText" type="text" name="artist" class="form-control btn-outline-dark" placeholder="Artist">
                            <div class="input-group-append">
                                <button type="button" id="reset-adv-ArtistText" class="btn btn-sm btn-light margin-right">
                                    <span class="fas fa-times"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-2 d-flex justify-content-center">
                    <div>
                        <div class="input-group">
                            <button type="button" class="btn btn-light mr-2"><span class="fas fa-search"></span> <b>Search</b></button>
                            <button type="button" id="resetFilter" class="btn btn-sm btn-light btn-outline-danger margin-right">
                                <span class="fas fa-filter"></span> <b>Reset filters</b>
                            </button>
                        </div>
                    </div>
                </div>
            </form> *@
            <div class="row mt-2">
                <div class="col-md-12">
                    <div id="cards" class="outer-container">
                        @if (!Model.SearchedCards.Any())
                        {
                            <div class="d-flex flex-row justify-content-center">
                                <div class="font-weight-bold mt-5" style="max-width: 500px;">
                                    Magic Cardsmith has catalogued every Magic card into a comprehensive database. <br>Search through the entire Magic history for additions to your deck, detailed information about ruling, format legalities or different prints of a card.
                                </div>
                            </div>
                        }
                        else
                            @foreach (var card in this.Model.SearchedCards)
                            {
                                <div class="inner-container">
                                    <div class="item-hidden-text">@card.Name</div>
                                    <a asp-controller="Card" asp-action="ById" asp-route-id="@card.Id" data-name="@card.Name" data-number="@card.Id" data-img="@card.ImageUrl class="item ae-card-link cardLink">
                                        <img class="lazy" src="@card.ImageUrl" alt="@card.Name" style="">
                                    </a>
                                    <div class="item-footer">
                                    </div>
                                </div>
                            }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script>

        function loadInputs() {
            var urlParams = new URLSearchParams(window.location.search);
            var conly = '';
            var cop = '';
            var uniq = '';
            for (entry of urlParams.entries()) {
                switch (entry[0]) {
                    case 'name':
                        $('#searchCards').val(entry[1]);
                        break;
                    case 'format':
                        $('#adv-formatSelector').val(entry[1]);
                        break;
                    case 'color':
                        $('#colorString').val(entry[1]);
                        var colors = entry[1].split('|');
                        $('#colorSelector').val(colors);
                        break;
                    case 'artist':
                        $('#adv-ArtistText').val(entry[1]);
                        break;
              
                    case 'text':
                        $('#adv-CardText').val(entry[1]);
                    case 'op':
                        $('#adv-CardOperator').val(entry[1]);
                        break;
                    case 'uniq':
                        uniq = entry[1];
                        break;
                    case 'val':
                        $('#adv-CardVal').val(entry[1]);
                        break;
                    case 'type':
                        $('#adv-CardType').val(entry[1]);
                        break;
                    default:
                        break;
                }

            }
        }

        $(document).ready(function () {
            loadInputs();
            $('.ae-btn-type').click(function () {
                $('#adv-CardType').val($(this).attr('data-type'));
            });

            $('.ae-btn-keyword').click(function () {
                $('#adv-CardText').val($(this).attr('data-keyword'));
            });

            $('#searchCards').on('keyup', function (e) {
                if (e.keyCode === 13) {
                    cardSearch();
                }
            });

            $('#adv-CardType').on('keyup', function (e) {
                if (e.keyCode === 13) {
                    cardSearch();
                }
            });
            $('#adv-CardText').on('keyup', function (e) {
                if (e.keyCode === 13) {
                    cardSearch();
                }
            });
            $('#adv-ArtistText').on('keyup', function (e) {
                if (e.keyCode === 13) {
                    cardSearch();
                }
            });

            $('#resetFilter').click(function () {
                $('#searchCards').val('');
                $('#adv-CardType').val('');
                $('#adv-CardText').val('');
                $('#adv-ArtistText').val('');          
            });

            $('#reset-searchCards').click(function () {
                $('#searchCards').val('');
            });

            $('#reset-adv-CardType').click(function () {
                $('#adv-CardType').val('');
            });

            $('#reset-adv-CardText').click(function () {
                $('#adv-CardText').val('');
            });

            $('#reset-adv-ArtistText').click(function () {
                $('#adv-ArtistText').val('');
            });
        });
    </script>
}