@using MagicCardsmith.Common
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cardsmith.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/css/MagicCard.css" asp-append-version="true" />*@
</head>
<body data-theme="dark">
    <div class="wrapper" id="wrapper">
        <nav id="sidebar" class="mCustomScrollbar _mCS_1 mCS-autoHide active mCS_no_scrollbar">
            <div id="mCSB_1" class="mCustomScrollBox mCS-minimal mCSB_vertical mCSB_outside" style="max-height: 1534px;" tabindex="0">
                <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; top: 0px; left: 0px;" dir="ltr">
                    <div class="w-100 text-center mb-1 mt-1">
                        <a href="/">
                            <img src="/images/AetherhubLogo320.png" loading="lazy" width="150" height="64" alt="AetherHub.com" class="mCS_img_loaded">
                        </a>
                        <button id="dismiss" class="btn btn-sm text-dark" aria-label="Close menu">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    <ul class="list-unstyled components mobile-menu">
                        <li>
                            <a href="#DeckHubSubmenu" class="pt-2 pb-2 pl-4 nav-link" data-toggle="collapse" aria-expanded="true"> <b>Decks</b></a>
                            <ul class="list-unstyled collapse show" id="DeckHubSubmenu" style="">
                                <li>
                                    <a href="/Decks/" class="pl-5 pt-1 pb-2 nav-link">User Decks</a>
                                </li>
                                <li>
                                    <a href="/Decks/Writeups/" class="pl-5 pt-1 pb-2 nav-link"> Deck Writeups</a>
                                </li>
                                <li>
                                    <hr class="mt-2 mb-2">
                                </li>
                                <li>
                                    <a href="/Deck/Builder/" class="pl-5 pt-1 pb-2 nav-link">Deck Builder</a>
                                </li>
                                <li>
                                    <a href="/Deck/MyDecks/" class="pl-5 pt-1 pb-2 nav-link">My Decks</a>
                                </li>
                            </ul>
                            <a href="#MetaHubSubmenu" class="pt-2 pb-2 pl-4 nav-link" data-toggle="collapse" aria-expanded="true"> <b>Metagame</b></a>
                            <ul class="list-unstyled collapse show" id="MetaHubSubmenu" style="">
                                <li>
                                    <a href="/Metagame/" class="pl-5 pt-1 pb-2 nav-link">Metagame Overview</a>
                                </li>
                                <li>
                                    <a href="/Events/" class="pl-5 pt-1 pb-2 nav-link">Tournament Metagame</a>
                                </li>
                                <li>
                                    <a href="/MTGA-Decks/" class="pl-5 pt-1 pb-2 nav-link">Latest MTGA Decks</a>
                                </li>
                                <li>
                                    <hr class="mt-2 mb-2">
                                </li>
                                <li>
                                    <a href="/Limited/" class="pl-5 pt-1 pb-2 nav-link">Limited Metagame</a>
                                </li>
                                <li>
                                    <a href="/Limited/Ratings/" class="pl-5 pt-1 pb-2 nav-link">Limited Ratings</a>
                                </li>
                                <li>
                                    <a href="/Limited/DraftSensei/" class="pl-5 pt-1 pb-2 nav-link">Draft Trainer</a>
                                </li>
                                <li>
                                    <a href="/Limited/Draftevents/" class="pl-5 pt-1 pb-2 nav-link">Latest Draft Winners</a>
                                </li>
                                <li>
                                    <hr class="mt-2 mb-2">
                                </li>
                                <li>
                                    <a href="/MTGA/ConstructedRankingLadder/" class="pl-5 pt-1 pb-2 nav-link">MTGA Ranking Ladder</a>
                                </li>
                            </ul>
                            <a href="#CollectionSubmenu" class="pt-2 pb-2 pl-4 nav-link" data-toggle="collapse" aria-expanded="false"> <b>Collection</b></a>
                            <ul class="collapse list-unstyled" id="CollectionSubmenu">
                                <li>
                                    <a href="/Collection/" class="pl-5 pt-1 pb-2 nav-link">Collection</a>
                                </li>

                                <li>
                                    <a href="/Collection/Binder" class="pl-5 pt-1 pb-2 nav-link">My binder</a>
                                </li>
                                <li>
                                    <hr class="mt-2 mb-2">
                                </li>
                                <li>
                                    <a href="/Collection/Manage" class="pl-5 pt-1 pb-2 nav-link">Manage Collections</a>
                                </li>
                            </ul>
                            <a href="#TourneySubmenu" class="pt-2 pb-2 pl-4 nav-link" data-toggle="collapse" aria-expanded="false"> <b>Tourney</b></a>
                            <ul class="collapse list-unstyled" id="TourneySubmenu">
                                <li>
                                    <a href="/Tourney/" class="pl-5 pt-1 pb-2 nav-link">Browse Tournaments</a>
                                </li>
                                <li>
                                    <a href="/Tourney/Leagues" class="pl-5 pt-1 pb-2 nav-link">Browse Leagues</a>
                                </li>
                                <li>
                                    <hr class="mt-2 mb-2">
                                </li>
                                <li>
                                    <a href="/Tourney/MyTourneys" class="pl-5 pt-1 pb-2 nav-link">My Tournaments</a>
                                </li>
                                <li>
                                    <a href="/Tourney/MyLeagues" class="pl-5 pt-1 pb-2 nav-link">My Leagues</a>
                                </li>
                            </ul>
                            <a href="#DatabaseSubmenu" class="pt-2 pb-2 pl-4 nav-link" data-toggle="collapse" aria-expanded="false"> <b>Database</b></a>
                            <ul class="collapse list-unstyled" id="DatabaseSubmenu">
                                <li>
                                    <a href="/Card/Search/" class="pl-5 pt-1 pb-2 nav-link">Card Search</a>
                                </li>
                                <li>
                                    <a href="/Card/Set" class="pl-5 pt-1 pb-2 nav-link">Set List</a>
                                </li>
                                <li>
                                    <a href="/Spoilers/" class="pl-5 pt-1 pb-2 nav-link">Spoilers</a>
                                </li>
                                <li>
                                    <hr class="mt-2 mb-2">
                                </li>
                                <li>
                                    <a href="/Banlist" class="pl-5 pt-1 pb-2 nav-link">Card Banlist</a>
                                </li>
                                <li>
                                    <a href="/MTGACalendar/" class="pl-5 pt-1 pb-2 nav-link">MTGA Calendar</a>
                                </li>
                                <li>
                                    <a href="/MTGAGuides" class="pl-5 pt-1 pb-2 nav-link">MTGA Guides</a>
                                </li>
                                <li>
                                    <hr class="mt-2 mb-2">
                                </li>
                                <li>
                                    <a href="/Article/" class="pl-5 pt-1 pb-2 nav-link">Articles</a>
                                </li>
                                <li>
                                    <a href="/Video/" class="pl-5 pt-1 pb-2 nav-link">Videos</a>
                                </li>
                                <li>
                                    <a href="/Docs/" class="pl-5 pt-1 pb-2 nav-link">Documentation</a>
                                </li>
                            </ul>
                            <a href="#AppsSubmenu" class="pt-2 pb-2 pl-4 nav-link" data-toggle="collapse" aria-expanded="false"> <b>Apps</b></a>
                            <ul class="collapse list-unstyled" id="AppsSubmenu">
                                <li>
                                    <a href="/Apps/MTGAAssistant" class="pl-5 pt-1 pb-2 nav-link">MTGA Assistant</a>
                                </li>
                                <li>
                                    <a href="/Apps/DeckConverter" class="pl-5 pt-1 pb-2 nav-link">Deck Converter</a>
                                </li>
                                <li>
                                    <a href="/Apps/MtgLife" class="pl-5 pt-1 pb-2 nav-link">MTG Life</a>
                                </li>
                                <li>
                                    <a href="/Apps/HyperGeometric" class="pl-5 pt-1 pb-2 nav-link">Hypergeometric Calculator</a>
                                </li>
                                <li>
                                    <a href="/Apps/TwitchExtensions" class="pl-5 pt-1 pb-2 nav-link">Twitch Extensions</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; height: 0px; top: 0px; display: block; max-height: 836.578px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div><div class="mCSB_draggerRail"></div></div></div></div>
        </nav>
        <div class="w-100 ae-header sticky-menu-mobile-navbar d-print-none">
            <div class="ae-menu-left-decor">
                <picture>
                    <source srcset="/images/navigation/menu_side.svg" media="(min-width: 768px)">
                    <img src="/images/navigation/menu_side_mobile.svg" alt="">
                </picture>
            </div>
            <div class="ae-menu-right-decor">
                <picture>
                    <source srcset="/images/navigation/menu_side.svg" media="(min-width: 768px)">
                    <img src="/images/navigation/menu_side_mobile.svg" alt="">
                </picture>
            </div>
            <div class="ae-menu-center">
                <div class="ae-menu-center">
                    <div class="ae-menu">
                        <div class="ae-menu-logo">
                            <a class="d-none d-xl-block" asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="/images/navigation/MagicCardsmith.gif" class="ae-header-logo" alt="AetherHub" width="200" height="44">
                            </a>
                            <div class="d-block d-lg-none ml-2 mr-1">
                                <a id="sidebarCollapse" class="" aria-label="Menu"><i class="fas fa-bars"></i></a>
                            </div>
                        </div>
                        <div class="ae-menu-wrapper d-none d-lg-flex">
                            <ul class="d-flex justify-content-start">
                                <li>
                                    <div class="ae-nav-dropdown">
                                        <button type="button" class="ae-nav-dropdown-btn pl-1 pr-1 text-nowrap ae-nav-dropdown-lazy"><b>Home</b></button>
                                        <div class="ae-nav-dropdown-menu">

                                            <div class="ae-nav-dropdown-menu-wrapper">
                                                <div class="">
                                                    <div class="ae-list-header">
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Cardsmith" asp-action="Create">Cardsmith</a>
                                                        <hr>
                                                        <a href="/Account/Register">Articles</a>
                                                        <a href="/Decks/Writeups/">Events</a>
                                                        <hr>
                                                        <a href="/Decks/Video/">Add Store</a>
                                                        <a href="/Deck/Builder/">My Store </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ae-nav-dropdown">
                                        <button type="button" class="ae-nav-dropdown-btn pl-1 pr-1 text-nowrap ae-nav-dropdown-lazy"><b>Art</b></button>
                                        <div class="ae-nav-dropdown-menu">
                                            <div class="ae-nav-dropdown-menu-wrapper">
                                                <div class="">
                                                    <div class="ae-list-header">
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Art" asp-action="All">Art pieces</a>
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Artist" asp-action="All">Artists</a>
                                                        <hr>
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Artist" asp-action="Become">Become Artist</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="ae-nav-dropdown">
                                        <button type="button" class="ae-nav-dropdown-btn pl-1 pr-1 text-nowrap ae-nav-dropdown-lazy"><b>Magic cards</b></button>
                                        <div class="ae-nav-dropdown-menu">

                                            <div class="ae-nav-dropdown-menu-wrapper">
                                                <div class="">
                                                    <div class="ae-list-header">
                                                        <a href="/Account/Register">All Cards</a>
                                                        <a href="/Decks/Video/">Expansions</a>
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="DigitalArt" asp-action="Create">Cardsmither</a>
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Cardsmith" asp-action="All">Stores</a>
                                                        <a href="/Decks/Video/">All Artists</a>
                                                        <hr>
                                                        <a class="nav-link text-dark" asp-area="" asp-controller="Cardsmith" asp-action="All">Stores</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                {
                                    <li>
                                        <div class="ae-nav-dropdown">

                                            <button type="button" class="ae-nav-dropdown-btn pl-1 pr-1 text-nowrap ae-nav-dropdown-lazy"><b>Admin</b></button>
                                            <div class="ae-nav-dropdown-menu">

                                                <div class="ae-nav-dropdown-menu-wrapper">
                                                    <div class="">
                                                        <div class="ae-list-header">
                                                            <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>

                        <div class="ae-icons d-flex justify-content-start">

                            <div class="mr-2">
                                <ul class="nav">
                                    <li class="nav-item dropdown">
                                        <a class="" data-toggle="modal" data-target="#siteSearchModal">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="mr-2">
                                <ul class="nav">
                                    <li class="nav-item dropdown">
                                        <a class="" data-toggle="dropdown">
                                            <i class="far fa-star"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="/Premium"><b>Premium</b></a>
                                            <a class="dropdown-item" href="/Artists"><b>Content Creators</b></a>
                                            <a class="dropdown-item" href="/Team"><b>Team</b></a>

                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="mr-1">
                                <ul class="nav">
                                    <li class="nav-item dropdown">
                                        <a id="login-button" class="" data-toggle="dropdown" aria-label="Login">
                                            <i class="fas fa-user"></i>
                                        </a>
                                        <partial name="_LoginPartial" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ae-header-bottom-decoration d-flex">
                        <div class="shadow"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ae-inner-content-wrapper">
            <div class="inner-content">
                <div class="row row ae-break-word">
                        <partial name="_CookieConsentPartial" />
                            @this.RenderBody()
                </div>
            </div>
        </div>
    </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>







    <div id="siteSearchModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Search MagicCardsnith</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span class="fas fa-times text-dark"></span>
                    </button>
                </div>
                <div class="modal-body ui-front d-flex flex-row justify-content-center">
                    <div>
                        <form method="get" action="/Market/CardInfo">
                            <div class="input-group ae-card-search">
                                <input type="text" id="searchM" name="CardName"
                                       class="form-control d-print-none ui-autocomplete-input"
                                       placeholder="Search magic cards" aria-label="Search magic cards"
                                       autocomplete="off">
                                <div class="input-group-append">
                                    <button class="btn btn-light" type="submit" aria-label="Search">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <ul id="ui-id-1" tabindex="0"
                        class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" unselectable="on"
                        style="display: none;"></ul>
                </div>
                <div class="modal-footer mt-0">
                    <div class="text-right">
                        <button type="button" class="btn btn-light" data-dismiss="modal">
                            <i class="fas fa-times"></i> <b>Close</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="popupMsg"></div>














    @*<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
    </ul>
    <partial name="_LoginPartial" />
    </div>
    </div>
    </nav>
    </header>*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e0f25cd0cd.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
