@model MagicCardsHub.Web.ViewModels.Art.ArtListViewModel
@{
    this.ViewData["Title"] = "All Art";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-2">
    <div class="col-md-12">
        <div id="DigitalArt" class="outer-container">
            @foreach (var art in this.Model.Art)
            {
                <div class="inner-container">
                    <a asp-action="ById" asp-route-id="@art.Id" class="item ae-card-link cardLink ">
                        "@art.Description"
                        <img class="lazy" src="@art.ImageUrl" alt="@art.Title" style="">
                        <div class="item-hidden-text">@art.Title</div>
                    </a>
                    <div class="item-footer">
                    </div>
                </div>
            }
        </div>
    </div>
</div>

