@model MagicCardsHub.Web.ViewModels.Art.SingleArtViewModel
@{
    this.ViewData["Title"] = Model.Description;
}


@*<div class="text-center row">
    <h1 class="display-4">Welcome to</h1>
    <div class="col-sm-12 col-md-12 pl-0 pr-0">
        <h4 class=" text-center mt-2 mb-4 ae-border-bottom-light text-header-gold">Newest Articles</h4>
        <div class="firstfeed-flexbox">
            <div class="article-card card border-0">
                <a href="" aria-label="article" class="image-wrapper">
                    <a asp-controller="Article" asp-action="Create" asp-route-id="@Model.Id" class="article-uimgheader">
                        <img src="@Model.ImageUrl" class="article-uimgheader" alt="@Model.Title">
                    </a>
                    <div class="w-100 text-center text-white article-text-tags">
                        <span>Discussion</span>
                        <span>News</span>
                    </div>
                </a>
                <div class="card-body pt-0">
                    <small class="yellow-line">
                        <a href=""><i class="far fa-star"></i>User</a>
                        <span>23 Jul</span>
                    </small>
                    <div class="ff-display font-size-18">
                        <b><a href="">@Model.Title</a></b>
                    </div>
                    <div class="card-text d-none d-md-flex m-1">@Model.Description</div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="container-create">
    <div class="first">
        <table id="html-content-holder" border="0" cellspacing="0" cellpadding="0" style="clear: both;">
            <tbody>
                <tr style="width:100%">
                    <td style="padding:0px;text-align:left;vertical-align:top;">
                        <form id="cardinfo">
                            <table border="0" cellspacing="0" cellpadding="2" style="width:100%;">
                                <tbody>
                                    <tr class="row1">
                                        <td style="width:30%">Name:</td>
                                        <td>
                                            <input type="text" class="input_text" name="name" id="name">
                                        </td>
                                    </tr>
                                    <tr class="row2">
                                        <td>Color:</td>
                                        <td>
                                            <select name="color" id="color" onchange="frameSelectFunc(event)">
                                                <option value="White">
                                                    White
                                                </option>
                                                <option value="Blue">
                                                    Blue
                                                </option>
                                                <option value="Black">
                                                    Black
                                                </option>
                                                <option value="Red">
                                                    Red
                                                </option>
                                                <option value="Green">
                                                    Green
                                                </option>
                                                <option value="Gold">
                                                    Gold
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="row1">
                                        <td>
                                            Mana Cost:
                                        </td>
                                        <td>
                                            <table class="manatable" style="border-spacing:0px;font-size:10px;text-align: center;width:50%">
                                                <tbody>
                                                    <tr>
                                                        <td><b>Red</b></td>
                                                        <td><b>Blue</b></td>
                                                        <td><b>Green</b></td>
                                                        <td><b>Black</b></td>
                                                        <td><b>White</b></td>
                                                        <td><b>Colorless</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <select name="mana_r" id="mana_r" onchange="colorSelectFunc(event)">
                                                                <option value="0" selected="true">
                                                                    0
                                                                </option>
                                                                <option value="1">
                                                                    1
                                                                </option>
                                                                <option value="2">
                                                                    2
                                                                </option>
                                                                <option value="3">
                                                                    3
                                                                </option>
                                                                <option value="4">
                                                                    4
                                                                </option>
                                                                <option value="5">
                                                                    5
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="mana_u" id="mana_u" onchange="colorSelectFunc(event)">
                                                                <option value="0" selected="true">
                                                                    0
                                                                </option>
                                                                <option value="1">
                                                                    1
                                                                </option>
                                                                <option value="2">
                                                                    2
                                                                </option>
                                                                <option value="3">
                                                                    3
                                                                </option>
                                                                <option value="4">
                                                                    4
                                                                </option>
                                                                <option value="5">
                                                                    5
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="mana_g" id="mana_g" onchange="colorSelectFunc(event)">
                                                                <option value="0" selected="true">
                                                                    0
                                                                </option>
                                                                <option value="1">
                                                                    1
                                                                </option>
                                                                <option value="2">
                                                                    2
                                                                </option>
                                                                <option value="3">
                                                                    3
                                                                </option>
                                                                <option value="4">
                                                                    4
                                                                </option>
                                                                <option value="5">
                                                                    5
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="mana_b" id="mana_b" onchange="colorSelectFunc(event)">
                                                                <option value="0" selected="true">
                                                                    0
                                                                </option>
                                                                <option value="1">
                                                                    1
                                                                </option>
                                                                <option value="2">
                                                                    2
                                                                </option>
                                                                <option value="3">
                                                                    3
                                                                </option>
                                                                <option value="4">
                                                                    4
                                                                </option>
                                                                <option value="5">
                                                                    5
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="mana_w" id="mana_w" onchange="colorSelectFunc(event)">
                                                                <option value="0" selected="true">
                                                                    0
                                                                </option>
                                                                <option value="1">
                                                                    1
                                                                </option>
                                                                <option value="2">
                                                                    2
                                                                </option>
                                                                <option value="3">
                                                                    3
                                                                </option>
                                                                <option value="4">
                                                                    4
                                                                </option>
                                                                <option value="5">
                                                                    5
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="mana_colorless" id="mana_colorless" onchange="colorSelectFunc(event)">
                                                                <option value="0" selected="true">
                                                                    0
                                                                </option>
                                                                <option value="1">
                                                                    1
                                                                </option>
                                                                <option value="2">
                                                                    2
                                                                </option>
                                                                <option value="3">
                                                                    3
                                                                </option>
                                                                <option value="4">
                                                                    4
                                                                </option>
                                                                <option value="5">
                                                                    5
                                                                </option>
                                                                <option value="6">
                                                                    6
                                                                </option>
                                                                <option value="7">
                                                                    7
                                                                </option>
                                                                <option value="8">
                                                                    8
                                                                </option>
                                                                <option value="9">
                                                                    9
                                                                </option>
                                                                <option value="X">
                                                                    X
                                                                </option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr class="row1">
                                        <td>Picture URL:</td>
                                        <td>
                                            <input type="text" class="input_text" name="picture" id="picture" style="width:50%">
                                            <input type="button" id="upload" class="ipsButton_secondary" value="Upload">
                                        </td>
                                    </tr>
                                    <tr class="row1">
                                        <td>Type:</td>
                                        <td>                                           
                                            <select name="cardtype" id="newtype" onchange="cardTypeFunc(event)">
                                                <option value="" selected="true">
                                                </option>                                               
                                                <option value="Artifact">
                                                    Artifact
                                                </option>
                                                <option value="Enchantment">
                                                    Enchantment
                                                </option>
                                                <option value="Land">
                                                    Land
                                                </option>
                                                <option value="Creature">
                                                    Creature
                                                </option>
                                                <option value="Instant">
                                                    Instant
                                                </option>
                                                <option value="Sorcery">
                                                    Sorcery
                                                </option>
                                                <option value="Planeswalker">
                                                    Planeswalker
                                                </option>
                                            </select>
                                        </td>
                                    </tr>              
                                    <tr class="row2">
                                        <td>Expansion Symbol:</td>
                                        <td>
                                            <select name="expansion" id="expansion" onchange="expansionSymbolFunc(event)">
                                                <option value="" selected="true">
                                                </option>
                                                <option value="Alpha">
                                                    Alpha
                                                </option>
                                                <option value="Beta">
                                                    Beta
                                                </option>
                                                <option value="Unlimited">
                                                    Unlimited
                                                </option>                                            
                                            </select>
                                            <select name="rarity" id="rarity" onchange="raritySymbolFunc(event)">
                                                <option value="Common">
                                                    Common
                                                </option>
                                                <option value="Uncommon">
                                                    Uncommon
                                                </option>
                                                <option value="Rare">
                                                    Rare
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="row1">
                                        <td>Abilities &amp; Flavor:</td>
                                        <td>
                                            <textarea name="cardtext" id="cardtext" style="height:60px;font-size: 10px" cols="60" rows="10">                                    </textarea>
                                            <br>
                                            <div style="padding:2px;font-size:10px">
                                                <b>Insert:</b>
                                                <a href="#" class="insertSymbol" id="r"><img src="~/Images/mana/r.png"></a>
                                                <a href="#" class="insertSymbol" id="u"><img src="~/Images/mana/u.png"></a>
                                                <a href="#" class="insertSymbol" id="g"><img src="~/Images/mana/g.png"></a>
                                                <a href="#" class="insertSymbol" id="b"><img src="~/Images/mana/b.png"></a>
                                                <a href="#" class="insertSymbol" id="w"><img src="~/Images/mana/w.png"></a>
                                                <a href="#" class="insertSymbol" id="t"><img src="~/Images/mana/t.png"></a>
                                                <a href="#" class="insertSymbol" id="1"><img src="~/Images/mana/1.png"></a>
                                                <a href="#" class="insertSymbol" id="2"><img src="~/Images/mana/2.png"></a>
                                                <a href="#" class="insertSymbol" id="3"><img src="~/Images/mana/3.png"></a>
                                                <a href="#" class="insertSymbol" id="4"><img src="~/Images/mana/4.png"></a>
                                                <a href="#" class="insertSymbol" id="5"><img src="~/Images/mana/5.png"></a>
                                                <a href="#" class="insertSymbol" id="6"><img src="~/Images/mana/6.png"></a>
                                                <a href="#" class="insertSymbol" id="7"><img src="~/Images/mana/7.png"></a>
                                                <a href="#" class="insertSymbol" id="8"><img src="~/Images/mana/8.png"></a>
                                                <a href="#" class="insertSymbol" id="9"><img src="~/Images/mana/9.png"></a>
                                                <br />
                                                <br />
                                                <b>Clear:</b>
                                                <a href="#" class="clearText" id="t"><img src="~/Images/mana/t.png"></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="row1">
                                    </tr>
                                    <tr class="row2">
                                        <td>Power / Toughness:</td>
                                        <td>
                                            <input type="text" class="input_text" name="power" id="power" size="2" maxlength="2">
                                            <input type="text" class="input_text" name="toughness" id="toughness" size="2" maxlength="2">
                                        </td>
                                    </tr>
                                    <tr class="row1">
                                        <td>Artist:</td>
                                        <td>
                                            <input type="text" class="input_text" name="artist" id="artist">
                                        </td>
                                    </tr>                                           
                                    <tr class="row1">
                                        <td>Set Name:</td>
                                        <td>
                                            <input type="text" class="input_text" name="setname" id="setname" size="20" maxlength="30" default="Set name">
                                        </td>
                                    </tr>
                                    <input type="submit" value="Submit">
                                </tbody>
                            </table>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        @* <a href="javascript:uploadtoimageshack();"><img style="width:333px" id="card" src="mcmaker/createcard.php?name=&amp;color=Red&amp;mana_r=1&amp;mana_u=2&amp;mana_g=2&amp;mana_b=0&amp;mana_w=0&amp;mana_colorless=0&amp;picture=&amp;supertype=&amp;cardtype=&amp;subtype=&amp;expansion=&amp;rarity=Common&amp;cardtext=++++++++++++++++++++++++++++++++++++&amp;power=&amp;toughness=&amp;artist=&amp;bottom=%E2%84%A2+%26+%C2%A9+1993-2013+Wizards+of+the+Coast+LLC&amp;set1=&amp;set2=&amp;setname=" alt="Magic Card" onload="updateGenerate();"></a>*@
                        <center>
                            <input type="text" name="url" id="url" style="width:98%;display:none" onclick="javascript:select();">
                        </center>
                        <div id="isurl"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="generate" class="ipsButton" id="generate" type="button" value="Generate" style="font-size:16px;min-width:0px">
                        <input name="save" class="ipsButton" id="save" type="button" value="Save" style="font-size:16px;min-width:0px">
                        <br/>                     
                    </td>
                    <td>
                        <form method="post" asp-action="Screenshot" asp-route-id="@Model.Id" name="screenshot" class="ipsButton" id="screenshot" type="button" value="Forge" style="font-size:16px;min-width:0px">
                            <button>Forge</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>    
    </div>

   

    <div class="second" id="second">
        <div class="card-container">

            <div class="card-background" id="background" style="background-image: url('/Images/frames/createcard.jpg')">
                <div class="card-frame">
                    <div class="frame-header">
                        <h1 class="name" id="cardName"></h1>
                        <div id="imgHeader">
                        </div>

                    </div>
                    <img class="frame-art" src="@Model.ImageUrl" alt="Nature">

                    <div class="frame-type-line" id="frame-type-line">
                        <h1 class="type" id="cardtype"></h1>
                        <div id="symbolHeader">
                        </div>
                    </div>
                    <div class="frame-text-box">
                        <p class="description">
                            You may spend mana as though it were mana of any color to cast planeswalker spells.
                        </p>
                    </div>
                </div>



            </div>

            <div class="frame-bottom-info inner-margin">
                <div class="fbi-left">
                    <p>140/184 R</p>
                    <p>OGW &#x2022; EN <!--   <img class="paintbrush" src="https://image.ibb.co/e2VxAS/paintbrush_white.png" alt="paintbrush icon">--> @Model.AddedByArtistName</p>
                </div>

                <div class="fbi-center"></div>

                <div class="fbi-right">
                    &#x99; &amp; &#169; 2016 Wizards of the Coast
                </div>
            </div>
            <div class="container-power" id="container-power">
                <img id="power-frame" src="~/Images/frames/whiteValue.png" alt="Nature">
                <div class="centered-power"></div>
            </div>

        </div>
    </div>
</div>



@section Scripts {
    <script type="text/javascript">

        $('#generate').click(function () {
            var cardName = $("#name").val();
            var AbilitiesFlavor = $("#cardtext").val();
            var cardPower = $("#power").val();
            var cardToughness = $("#toughness").val();
            var colorValues = ['{b}', '{g}', '{r}', '{t}', '{r}', '{u}', '{w}', '{1}', '{2}', '{3}', '{4}', '{5}', '{6}', '{7}', '{8}', '{9}']
            for(let i = 0;i<colorValues.length;i++){
                let currentValue = colorValues[i].split('');

                AbilitiesFlavor = AbilitiesFlavor.replaceAll(colorValues[i], "<img src= /Images/mana/" + currentValue[1] + ".png id=mana - icon />")
            }
            


            $('#cardName').append(cardName);
            $('.centered-power').append(cardPower + "/" + cardToughness);
            $('.description').append(AbilitiesFlavor);
            

            return false;
        });
       

    </script>

     <script>
        function cardTypeFunc(e) {

            document.getElementById('cardtype').textContent = '';

            var currentSelection = e.target.id;
            let selectedValue = $("#" + currentSelection + " option:selected").val();
 
           if (selectedValue) {
                $('#cardtype').append(selectedValue)
           } else {
               return false;
           }
        }
     </script>
    

    <script type="text/javascript">

        $('.insertSymbol').click(function () {
            $('#cardtext').val($('#cardtext').val() + '{' + $(this).attr('id') + '}');
            return false;
        });


    </script>
    
    <script>

        $('.insertManaSymbol').click(function () {

            $('#imgHeader').append("<img src= /Images/mana/" + $(this).attr('id') + ".png id=mana - icon /> ")
            return false;
        });


        $('.clearText').click(function () {

            $('#cardtext').val('');
            return false;
        });
    </script>
    <script>

        function colorSelectFunc(e) {
            var currentSelection = e.target.id;

            let currentColor = currentSelection.substring(currentSelection.indexOf('_') + 1);
            let selectedValue = $("#" + currentSelection + " option:selected").val();

            if (selectedValue == 0){

                document.querySelectorAll("#mana-icon-" + currentColor).forEach(e => e.remove());
                document.querySelectorAll("#colorless").forEach(e => e.remove());
            }
            if (currentColor == "colorless")
            {
                if(selectedValue !=0)
                {
                    $('#imgHeader').append("<img src= /Images/mana/" + selectedValue + ".png class=mana-icon  id=colorless /> ")
                }else{
                    return false;
                }
                
            }
            else{
                var count = parseInt(selectedValue, 10);
                for (let i = 0; i < count; i++) {
                    $('#imgHeader').append("<img src= /Images/mana/" + currentColor + ".png class=mana-icon  id= mana-icon-" + currentColor + " /> ")

                }
            }
        

        }

        function expansionSymbolFunc(e) {

            document.getElementById('symbolHeader').textContent = '';

            var currentSelection = e.target.id;
            let selectedValue = $("#" + currentSelection + " option:selected").val();
            if (selectedValue) {
                let currentRarity = $("#rarity" + " option:selected").val();
                $('#symbolHeader').append("<img src= /symbols/various/" + selectedValue + '_' + currentRarity + ".png id=set - icon alt=OGW - icon />")
            } else {
                return false;
            }
        }

        function raritySymbolFunc(e){
            document.getElementById('symbolHeader').textContent = '';

            var currentSelection = e.target.id;
            let selectedValue = $("#" + currentSelection + " option:selected").val();

            let currentExpansion = $("#expansion" + " option:selected").val();
            if (currentExpansion){
                $('#symbolHeader').append("<img src= /symbols/various/" + currentExpansion + '_' + selectedValue + ".png id=set - icon alt=OGW - icon />")
            }else{
                return false;
            }         
        }
        function frameSelectFunc(e) {
            var currentSelection = e.target.id;
            let selectedValue = $("#" + currentSelection + " option:selected").val();
            
            document.getElementById("background").style["background-image"] = "url(" + '/Images/frames/' + selectedValue + ".png" + ")"

            document.getElementById("power-frame").src = "/Images/frames/" + selectedValue + "Value" + ".png";
        }

    
    </script>
}