@model Wizzarts.Web.ViewModels.Event.EventListViewModel
@using Wizzarts.Web.Infrastructure.Extensions

@{
    this.ViewData["Title"] = "Ongoing Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-lg-12 col-xl-12 pl-0 pr-0 pr-xl-3">
    <div class="row">
        <div class="col-sm-12 col-md-12 pl-0 pr-0">
            <h4 class="text-center mb-2 ae-border-bottom-light text-header-gold">Events</h4>
            <div class="mb-2 firstfeed-flexbox ff-display">

                <div class="firstfeed-flexbox">
                    @foreach (var eventNow in this.Model.Events)
                    {
                        <div class="article-card card border-0">

                            <a asp-area="" asp-controller="@eventNow.ControllerName" asp-action="@eventNow.ActionName" asp-route-id="@eventNow.Id" asp-route-information="@eventNow.GetEventTitle()" class="image-wrapper">
                                    <img src="@eventNow.ImageUrl" class="article-uimgheader" style="width : 366px" alt="@eventNow.Title">
                                </a>
                                <div class="card-body pt-0">
                                    <small class="yellow-line">
                                    <a asp-area="" asp-controller="User" asp-action="ById" asp-route-id="@eventNow.Creator" asp-route-information="@eventNow.GetWizzartsMemberName()">@eventNow.Creator<i class="far fa-star"></i></a>
                                        <span>@eventNow.CreatedOn</span>
                                    </small>
                                    <div class="ff-display font-size-18">
                                    <a asp-area="" asp-controller="@eventNow.ControllerName" asp-action="@eventNow.ActionName" asp-route-id="@eventNow.Id" asp-route-id="@eventNow.Id" asp-route-information="@eventNow.GetEventTitle()"><b>@eventNow.Title</b></a>
                                    </div>
                                    <div class="card-text d-none d-md-flex m-1">@eventNow.EventDescription</div>
                                </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="_PagingPartial" model="@Model" />